In [1]:
import pandas as pd

In [3]:
#SPDR S&P 500 ESG ETF (EFIV) USA
USA_data = pd.read_csv(r"file.csv")
missende_kolommen = pd.read_csv(r"file.csv")

print(USA_data)

    Identifier          Company Name     ISIN Code Ticker Symbol  \
0          NaN                   NaN           NaN           NaN
1          NaN                   NaN           NaN           NaN
2    537910017                   NaN           NaN           NaN
3      .ONEUSD                   NaN           NaN           NaN
4        AFL.N             Aflac Inc  US0010551028           AFL
..         ...                   ...           ...           ...
314     CTVA.N           Corteva Inc  US22052L1044          CTVA
315     AMCR.N             Amcor PLC  JE00BJ1F3079          AMCR
316     CARR.N   Carrier Global Corp  US14448C1045          CARR
317     OTIS.N   Otis Worldwide Corp  US68902V1070          OTIS
318       SW.N  Smurfit WestRock PLC  IE00028FXN24            SW

          Country of Exchange  \
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4    United States of America
..                        ...
314  United States of America
315  United States of America
316  United States of America
317  United States of America
318  United States of America

                          NAICS National Industry Name  Size\n(:)  \
0                                                  NaN        NaN
1                                                  NaN        NaN
2                                                  NaN        NaN
3                                                  NaN        NaN
4         Direct Health and Medical Insurance Carriers        NaN
..                                                 ...        ...
314                 Farm Supplies Merchant Wholesalers        NaN
315  Plastics Packaging Film and Sheet (including L...        NaN
316  Air-Conditioning and Warm Air Heating Equipmen...        NaN
317         Elevator and Moving Stairway Manufacturing        NaN
318                All Other Business Support Services        NaN

    ESG Score\nIn the last 25 FY  Unnamed: 8  Unnamed: 9  ... Unnamed: 1622  \
0      (Date)\nIn the last 25 FY         NaN         NaN  ...           NaN
1                            FY0        FY-1        FY-2  ...         FY-15
2                            NaN         NaN         NaN  ...           NaN
3                            NaN         NaN         NaN  ...           NaN
4                     31/12/2023  31/12/2022  31/12/2021  ...  1,211,600.00
..                           ...         ...         ...  ...           ...
314                   31/12/2023  31/12/2022  31/12/2021  ...          0.00
315                   30/06/2024  30/06/2023  30/06/2022  ...          0.00
316                   31/12/2022  31/12/2021  31/12/2020  ...          0.00
317                   31/12/2023  31/12/2022  31/12/2021  ...          0.00
318                   31/12/2022  31/12/2021  31/12/2020  ...          0.00

    Unnamed: 1623 Unnamed: 1624 Unnamed: 1625 Unnamed: 1626 Unnamed: 1627  \
0             NaN           NaN           NaN           NaN           NaN
1           FY-16         FY-17         FY-18         FY-19         FY-20
2             NaN           NaN           NaN           NaN           NaN
3             NaN           NaN           NaN           NaN           NaN
4    2,132,000.00  1,436,000.00          0.00          0.00  1,176,000.00
..            ...           ...           ...           ...           ...
314          0.00          0.00          0.00          0.00          0.00
315          0.00          0.00          0.00          0.00          0.00
316          0.00          0.00          0.00          0.00          0.00
317          0.00          0.00          0.00          0.00          0.00
318          0.00          0.00          0.00          0.00          0.00

    Unnamed: 1628 Unnamed: 1629 Unnamed: 1630 Unnamed: 1631
0             NaN           NaN           NaN           NaN
1           FY-21         FY-22         FY-23         FY-24
2             NaN           NaN           NaN           NaN
3             NaN           NaN           NaN           NaN
4    2,067,800.00  2,255,800.00  3,150,800.00          0.00
..            ...           ...           ...           ...
314          0.00          0.00          0.00          0.00
315          0.00          0.00          0.00          0.00
316          0.00          0.00          0.00          0.00
317          0.00          0.00          0.00          0.00
318          0.00          0.00          0.00          0.00

[319 rows x 1632 columns]

#### OssiamStoxxEurope 600 ESG Equal Weight NR UNCITSETF(ETF) EU

In [5]:
EU_data = pd.read_csv(r"file.csv")
EU_data

,Identifier (RIC),Company Name,ISIN Code,Ticker Symbol,Country of Exchange,NAICS National Industry Name,Size\n(:),ESG Score\nIn the last 25 FY,Unnamed: 8,Unnamed: 9,...,Unnamed: 1522,Unnamed: 1523,Unnamed: 1524,Unnamed: 1525,Unnamed: 1526,Unnamed: 1527,Unnamed: 1528,Unnamed: 1529,Unnamed: 1530,Unnamed: 1531
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(Date)\nIn the last 25 FY,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FY0,FY-1,FY-2,...,FY-15,FY-16,FY-17,FY-18,FY-19,FY-20,FY-21,FY-22,FY-23,FY-24
2,.ONECHF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,.ONEUKP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,.ONESEK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,AZE.BR,Azelis Group NV,BE0974400328,AZE,Belgium,Other Chemical and Allied Products Merchant Wh...,NaN,31/12/2023,31/12/2022,31/12/2021,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
485,DTGGe.DE,Daimler Truck Holding AG,DE000DTR0CK8,DTG,Germany,Automobile and Light Duty Motor Vehicle Manufa...,NaN,31/12/2023,31/12/2022,31/12/2021,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
486,IVG.MI,Iveco Group NV,NL0015000LU4,IVG,Italy,Heavy Duty Truck Manufacturing,NaN,31/12/2023,31/12/2022,31/12/2021,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
487,HLN.L,Haleon PLC,GB00BMX86B70,HLN,United Kingdom,Pharmaceutical Preparation Manufacturing,NaN,31/12/2023,31/12/2022,31/12/2021,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
488,P911_p.DE,Dr Ing hc F Porsche AG,DE000PAG9113,P911,Germany,Automobile and Light Duty Motor Vehicle Manufa...,NaN,31/12/2023,31/12/2022,31/12/2021,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [38]:
#LYXOR ETF MSCI ALL COUNTRY WORLD C-EUR
# Load the datasets
eerste_deel = pd.read_csv(r"Cfile.csv")
tweede_deel = pd.read_csv(r"C:file.csv")
derde_deel = pd.read_csv(r"C:file.csv")

# Merge eerste_deel and tweede_deel on the common columns
world_data = pd.merge(eerste_deel, tweede_deel, on=['Company Name', 'ISIN Code'], how='outer', suffixes=('_eerste_deel', '_tweede_deel'))

# Merge the result with derde_deel
world_data = pd.merge(world_data, derde_deel, on=['Company Name', 'ISIN Code'], how='outer', suffixes=('', '_derde_deel'))

# Check the result
print(world_data.head())

C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_22744\2315001733.py:3: DtypeWarning: Columns (30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354) have mixed types. Specify dtype option on import or set low_memory=False.
  eerste_deel = pd.read_csv(r"C:\Users\fbergsma1\OneDrive - KPMG\Documents\Data\eerste_deel_LYXOR ETF MSCI ALL COUNTRY WORLD C-EUR.csv")
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_22744\2315001733.py:4: DtypeWarning: Columns (79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503) have mixed types. Specify dtype option on import or set low_memory=False.
  tweede_deel = pd.read_csv(r"C:\Users\fbergsma1\OneDrive - KPMG\Documents\Data\tweede_deel_LYXOR ETF MSCI ALL COUNTRY WORLD C-EUR.csv")

  Identifier                                       Company Name     ISIN Code  \
0  601360.SS                        360 Security Technology Inc  CNE100002RZ2
1  002555.SZ  37 Interactive Entertainment Network Technolog...  CNE1000010N2
2      MMM.N                                              3M Co  US88579Y1010
3      III.L                                       3i Group PLC  GB00B1YW4409
4      AOS.N                                     A O Smith Corp  US8318652091

        Country of Exchange                   NAICS National Industry Name  \
0                     China          Other Services Related to Advertising
1                     China                            Software Publishers
2  United States of America                 Abrasive Product Manufacturing
3            United Kingdom                   Miscellaneous Intermediation
4  United States of America  Power Boiler and Heat Exchanger Manufacturing

  ESG Score\nIn the last 25 FY Unnamed: 6_eerste_deel Unnamed: 7_eerste_deel  \
0                   12/31/2023             12/31/2022             12/31/2021
1                   12/31/2023             12/31/2022             12/31/2021
2                   12/31/2023             12/31/2022             12/31/2021
3                    3/31/2023              3/31/2022              3/31/2021
4                   12/31/2022             12/31/2021             12/31/2020

  Unnamed: 8_eerste_deel Unnamed: 9_eerste_deel  ... Unnamed: 194  \
0             12/31/2020             12/31/2019  ...           16
1             12/31/2020             12/31/2019  ...           84
2             12/31/2020             12/31/2019  ...           49
3              3/31/2020              3/31/2019  ...           96
4             12/31/2019             12/31/2018  ...           41

  Unnamed: 195 Unnamed: 196 Unnamed: 197 Unnamed: 198 Unnamed: 199  \
0           16           16           17           17           17
1           84           84           84           85           79
2           49           49           50           50           50
3           96           96           95           96           96
4           41           41           41           43           44

  Unnamed: 200 Unnamed: 201 Unnamed: 202 Unnamed: 203
0           15           14           14           14
1           77           78           78           78
2           48           47           47           47
3           96           96           96           96
4           44           42           42           42

[5 rows x 1109 columns]

In [22]:
print(eerste_deel.head())

  Identifier            Company Name     ISIN Code Country of Exchange  \
0        NaN                     NaN           NaN                 NaN
1        NaN                     NaN           NaN                 NaN
2     ALL.AX  Aristocrat Leisure Ltd  AU000000ALL7           Australia
3     ANZ.AX  ANZ Group Holdings Ltd  AU000000ANZ3           Australia
4     WBC.AX    Westpac Banking Corp  AU000000WBC1           Australia

        NAICS National Industry Name ESG Score\nIn the last 25 FY Unnamed: 6  \
0                                NaN    (Date)\nIn the last 25 FY        NaN
1                                NaN                          FY0       FY-1
2  Doll, Toy, and Game Manufacturing                    9/30/2023  9/30/2022
3                 Commercial Banking                    9/30/2023  9/30/2022
4                 Commercial Banking                    9/30/2023  9/30/2022

  Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 395 Unnamed: 396  \
0        NaN        NaN        NaN  ...          NaN          NaN
1       FY-2       FY-3       FY-4  ...        FY-15        FY-16
2  9/30/2021  9/30/2020  9/30/2019  ...          NaN          NaN
3  9/30/2021  9/30/2020  9/30/2019  ...        13.2%        12.9%
4  9/30/2021  9/30/2020  9/30/2019  ...        16.4%        19.8%

  Unnamed: 397 Unnamed: 398 Unnamed: 399 Unnamed: 400 Unnamed: 401  \
0          NaN          NaN          NaN          NaN          NaN
1        FY-17        FY-18        FY-19        FY-20        FY-21
2          NaN          NaN          NaN          NaN          NaN
3        18.7%        19.6%        17.7%        17.2%        20.8%
4        19.9%        20.1%        21.4%        16.5%        19.4%

  Unnamed: 402 Unnamed: 403 Unnamed: 404
0          NaN          NaN          NaN
1        FY-22        FY-23        FY-24
2          NaN          NaN          NaN
3        23.1%        20.1%        19.7%
4        22.3%        20.6%        19.3%

[5 rows x 405 columns]

In [10]:
columns_to_keep = ['Company Name', 'ISIN Code', 'Ticker Symbol']

USA_selected = USA_data[columns_to_keep]
EU_selected = EU_data[columns_to_keep]
tweede_selected = tweede_deel[columns_to_keep]

# Combine all datasets into one
final_dataset = pd.concat([USA_selected, EU_selected, tweede_selected], ignore_index=True)

# Display the first few rows
print(final_dataset)

            Company Name     ISIN Code Ticker Symbol
0                    NaN           NaN           NaN
1                    NaN           NaN           NaN
2                    NaN           NaN           NaN
3                    NaN           NaN           NaN
4              Aflac Inc  US0010551028           AFL
...                  ...           ...           ...
3365  Midea Group Co Ltd  CNE100006M58           300
3366  Tokyo Metro Co Ltd  JP3583900000          9023
3367        CP Axtra PCL  THC450010002         CPAXT
3368      Zabka Group SA  LU2910446546           ZAB
3369         Covestro AG  DE000A40KY26           1CO

[3370 rows x 3 columns]

In [12]:
# Remove NaN values
final_dataset = final_dataset.dropna()

# Remove duplicates
final_dataset = final_dataset.drop_duplicates()

# Display the first few rows
# print(final_dataset.head())

print(len(final_dataset))

2645

In [18]:
# EU_data.columns
EU_data['Country of Exchange']

0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
            ...
484           Belgium
485           Germany
486             Italy
487    United Kingdom
488           Germany
Name: Country of Exchange, Length: 489, dtype: object

In [54]:
import pandas as pd

# Assuming final_dataset, EU_data, USA_data, and eerste_deel are already loaded as DataFrames

# Merge final_dataset with EU_data on the specified columns
final_dataset = pd.merge(final_dataset, EU_data[['Company Name', 'ISIN Code', 'Ticker Symbol', 'Country of Exchange', 'NAICS National Industry Name']], 
                         on=['Company Name', 'ISIN Code', 'Ticker Symbol'], 
                         how='left', suffixes=('', '_EU'))

# Merge final_dataset with USA_data on the specified columns
final_dataset = pd.merge(final_dataset, USA_data[['Company Name', 'ISIN Code', 'Ticker Symbol', 'Country of Exchange', 'NAICS National Industry Name']], 
                         on=['Company Name', 'ISIN Code', 'Ticker Symbol'], 
                         how='left', suffixes=('', '_USA'))

#Merge final_dataset with eerste_deel on the specified columns
final_dataset = pd.merge(final_dataset, world_data[['Company Name', 'ISIN Code', 'Ticker Symbol', 'Country of Exchange', 'NAICS National Industry Name']], 
                         on=['Company Name', 'ISIN Code', 'Ticker Symbol'], 
                         how='left', suffixes=('', '_world_deel'))

# Check the result
print(final_dataset.head())
print(final_dataset.columns)

                     Company Name     ISIN Code Ticker Symbol  \
0                       Aflac Inc  US0010551028           AFL
1             Abbott Laboratories  US0028241000           ABT
2                       Adobe Inc  US00724F1012          ADBE
3      Advanced Micro Devices Inc  US0079031078           AMD
4  Air Products and Chemicals Inc  US0091581068           APD

  Country of Exchange Country of Exchange_EU   Country of Exchange_USA  \
0                 NaN                    NaN  United States of America
1                 NaN                    NaN  United States of America
2                 NaN                    NaN  United States of America
3                 NaN                    NaN  United States of America
4                 NaN                    NaN  United States of America

  Country of Exchange_EU   Country of Exchange_USA Country of Exchange_EU  \
0                    NaN  United States of America                    NaN
1                    NaN  United States of America                    NaN
2                    NaN  United States of America                    NaN
3                    NaN  United States of America                    NaN
4                    NaN  United States of America                    NaN

    Country of Exchange_USA  ...   Country of Exchange_USA  \
0  United States of America  ...  United States of America
1  United States of America  ...  United States of America
2  United States of America  ...  United States of America
3  United States of America  ...  United States of America
4  United States of America  ...  United States of America

                    NAICS National Industry Name_USA  \
0       Direct Health and Medical Insurance Carriers
1  Electromedical and Electrotherapeutic Apparatu...
2                                Software Publishers
3     Semiconductor and Related Device Manufacturing
4                       Industrial Gas Manufacturing

  Country of Exchange_world_deel  \
0       United States of America
1       United States of America
2       United States of America
3       United States of America
4       United States of America

             NAICS National Industry Name_world_deel Country of Exchange_EU  \
0       Direct Health and Medical Insurance Carriers                    NaN
1  Electromedical and Electrotherapeutic Apparatu...                    NaN
2                                Software Publishers                    NaN
3     Semiconductor and Related Device Manufacturing                    NaN
4                       Industrial Gas Manufacturing                    NaN

  NAICS National Industry Name_EU   Country of Exchange_USA  \
0                             NaN  United States of America
1                             NaN  United States of America
2                             NaN  United States of America
3                             NaN  United States of America
4                             NaN  United States of America

                    NAICS National Industry Name_USA  \
0       Direct Health and Medical Insurance Carriers
1  Electromedical and Electrotherapeutic Apparatu...
2                                Software Publishers
3     Semiconductor and Related Device Manufacturing
4                       Industrial Gas Manufacturing

  Country of Exchange_world_deel  \
0       United States of America
1       United States of America
2       United States of America
3       United States of America
4       United States of America

             NAICS National Industry Name_world_deel
0       Direct Health and Medical Insurance Carriers
1  Electromedical and Electrotherapeutic Apparatu...
2                                Software Publishers
3     Semiconductor and Related Device Manufacturing
4                       Industrial Gas Manufacturing

[5 rows x 52 columns]
Index(['Company Name', 'ISIN Code', 'Ticker Symbol', 'Country of Exchange',
       'Country of Exchange_EU', 'Country of Exchange_USA',
       'Country of Exchange_EU', 'Country of Exchange_USA',
       'Country of Exchange_EU', 'Country of Exchange_USA',
       'Country of Exchange_EU', 'Country of Exchange_USA',
       'Country of Exchange_eerste_deel', 'Country of Exchange_EU',
       'Country of Exchange_USA', 'Country of Exchange_world_deel',
       'Country of Exchange_EU', 'NAICS National Industry Name',
       'Country of Exchange_USA', 'NAICS National Industry Name_USA',
       'Country of Exchange_world_deel',
       'NAICS National Industry Name_world_deel', 'Country of Exchange_EU',
       'NAICS National Industry Name_EU', 'Country of Exchange_USA',
       'NAICS National Industry Name_USA', 'Country of Exchange_world_deel',
       'NAICS National Industry Name_world_deel', 'Country of Exchange_EU',
       'NAICS National Industry Name_EU', 'Country of Exchange_USA',
       'NAICS National Industry Name_USA', 'Country of Exchange_world_deel',
       'NAICS National Industry Name_world_deel', 'Country of Exchange_EU',
       'NAICS National Industry Name_EU', 'Country of Exchange_USA',
       'NAICS National Industry Name_USA', 'Country of Exchange_world_deel',
       'NAICS National Industry Name_world_deel', 'Country of Exchange_EU',
       'NAICS National Industry Name_EU', 'Country of Exchange_USA',
       'NAICS National Industry Name_USA', 'Country of Exchange_world_deel',
       'NAICS National Industry Name_world_deel', 'Country of Exchange_EU',
       'NAICS National Industry Name_EU', 'Country of Exchange_USA',
       'NAICS National Industry Name_USA', 'Country of Exchange_world_deel',
       'NAICS National Industry Name_world_deel'],
      dtype='object')

In [42]:
print(len(final_dataset))

2645

# EU ESG data

In [9]:
EU_data = pd.read_csv(r"Cfile.csv")

print(EU_data.head(20))

   Identifier (RIC)               Company Name ISIN Code Ticker Symbol  \
0               NaN                        NaN       NaN           NaN
1               NaN                        NaN       NaN           NaN
2           .ONECHF                        NaN       NaN           NaN
3           .ONEUKP                        NaN       NaN           NaN
4           .ONESEK                        NaN       NaN           NaN
5           .ONEDKK                        NaN       NaN           NaN
6           .ONENOK                        NaN       NaN           NaN
7           .ONEPLN                        NaN       NaN           NaN
8           .ONEUSD                        NaN       NaN           NaN
9           .ONEEUR                        NaN       NaN           NaN
10          OMVV.VI                     Omv AG       NaN           OMV
11          VERB.VI                 Verbund AG       NaN           VER
12          VOES.VI             voestalpine AG       NaN           VOE
13          ERST.VI        Erste Group Bank AG       NaN           EBS
14           UMI.BR                 Umicore SA       NaN           UMI
15          ACKB.BR  Ackermans & Van Haaren NV       NaN          ACKB
16          COFB.BR               Cofinimmo SA       NaN          COFB
17          IETB.BR         D'Ieteren Group SA       NaN           DIE
18           KBC.BR               Kbc Groep NV       NaN           KBC
19           UCB.BR                     Ucb SA       NaN           UCB

   Country of Exchange                       NAICS National Industry Name  \
0                  NaN                                                NaN
1                  NaN                                                NaN
2                  NaN                                                NaN
3                  NaN                                                NaN
4                  NaN                                                NaN
5                  NaN                                                NaN
6                  NaN                                                NaN
7                  NaN                                                NaN
8                  NaN                                                NaN
9                  NaN                                                NaN
10             Austria                               Petroleum Refineries
11             Austria                        Electric Power Distribution
12             Austria                Steel Foundries (except Investment)
13             Austria                                 Commercial Banking
14             Belgium       Other Basic Inorganic Chemical Manufacturing
15             Belgium     Other Heavy and Civil Engineering Construction
16             Belgium  Lessors of Nonresidential Buildings (except Mi...
17             Belgium                 Automotive Glass Replacement Shops
18             Belgium  Savings Institutions and Other Depository Cred...
19             Belgium  Biological Product (except Diagnostic) Manufac...

    Size\n(:) ESG Score\nIn the last 25 FY  Unnamed: 8  Unnamed: 9  ...  \
0         NaN    (Date)\nIn the last 25 FY         NaN         NaN  ...
1         NaN                          FY0        FY-1        FY-2  ...
2         NaN                          NaN         NaN         NaN  ...
3         NaN                          NaN         NaN         NaN  ...
4         NaN                          NaN         NaN         NaN  ...
5         NaN                          NaN         NaN         NaN  ...
6         NaN                          NaN         NaN         NaN  ...
7         NaN                          NaN         NaN         NaN  ...
8         NaN                          NaN         NaN         NaN  ...
9         NaN                          NaN         NaN         NaN  ...
10        NaN                   31/12/2023  31/12/2022  31/12/2021  ...
11        NaN                   31/12/2023  31/12/2022  31/12/2021  ...
12        NaN                   31/03/2024  31/03/2023  31/03/2022  ...
13        NaN                   31/12/2023  31/12/2022  31/12/2021  ...
14        NaN                   31/12/2023  31/12/2022  31/12/2021  ...
15        NaN                   31/12/2023  31/12/2022  31/12/2021  ...
16        NaN                   31/12/2022  31/12/2021  31/12/2020  ...
17        NaN                   31/12/2023  31/12/2022  31/12/2021  ...
18        NaN                   31/12/2023  31/12/2022  31/12/2021  ...
19        NaN                   31/12/2023  31/12/2022  31/12/2021  ...

   Unnamed: 1522 Unnamed: 1523 Unnamed: 1524 Unnamed: 1525 Unnamed: 1526  \
0            NaN           NaN           NaN           NaN           NaN
1          FY-15         FY-16         FY-17         FY-18         FY-19
2            NaN           NaN           NaN           NaN           NaN
3            NaN           NaN           NaN           NaN           NaN
4            NaN           NaN           NaN           NaN           NaN
5            NaN           NaN           NaN           NaN           NaN
6            NaN           NaN           NaN           NaN           NaN
7            NaN           NaN           NaN           NaN           NaN
8            NaN           NaN           NaN           NaN           NaN
9            NaN           NaN           NaN           NaN           NaN
10          0.00          0.00          0.00          0.00          0.00
11          0.00          0.00          0.00          0.00          0.00
12          0.00          0.00          0.00          0.00          0.00
13          0.00          0.00          0.00          0.00          0.00
14    174,948.00    454,760.00    183,249.00          0.00          0.00
15      2,106.00      9,634.00      7,302.00          0.00          0.00
16     11,699.00      7,482.00     14,941.00          0.00          0.00
17     35,209.00     22,099.00     36,989.00          0.00          0.00
18     49,806.00    114,779.00    125,772.00          0.00          0.00
19    139,129.00    177,245.00    119,245.00          0.00          0.00

   Unnamed: 1527 Unnamed: 1528 Unnamed: 1529 Unnamed: 1530 Unnamed: 1531
0            NaN           NaN           NaN           NaN           NaN
1          FY-20         FY-21         FY-22         FY-23         FY-24
2            NaN           NaN           NaN           NaN           NaN
3            NaN           NaN           NaN           NaN           NaN
4            NaN           NaN           NaN           NaN           NaN
5            NaN           NaN           NaN           NaN           NaN
6            NaN           NaN           NaN           NaN           NaN
7            NaN           NaN           NaN           NaN           NaN
8            NaN           NaN           NaN           NaN           NaN
9            NaN           NaN           NaN           NaN           NaN
10          0.00          0.00          0.00          0.00          0.00
11          0.00          0.00          0.00          0.00          0.00
12          0.00          0.00          0.00          0.00          0.00
13          0.00          0.00          0.00          0.00          0.00
14    168,859.00    397,659.00    143,190.00          0.00          0.00
15      1,812.00     10,770.00      2,497.00          0.00          0.00
16        868.00      4,471.00      6,045.00          0.00          0.00
17      2,919.00     29,799.00     40,829.00          0.00          0.00
18    249,548.00     84,276.00     95,609.00          0.00          0.00
19     35,936.00     22,178.00     72,680.00          0.00          0.00

[20 rows x 1532 columns]

In [11]:
# Remove the first 10 rows of the dataset, since these contains only NaN's
EU_data = EU_data.iloc[10:].reset_index(drop=True)
# Remove the 'Size' column from the dataset

# Check the result
print(EU_data.head(20))

   Identifier (RIC)               Company Name     ISIN Code Ticker Symbol  \
0           OMVV.VI                     Omv AG           NaN           OMV
1           VERB.VI                 Verbund AG           NaN           VER
2           VOES.VI             voestalpine AG           NaN           VOE
3           ERST.VI        Erste Group Bank AG           NaN           EBS
4            UMI.BR                 Umicore SA           NaN           UMI
5           ACKB.BR  Ackermans & Van Haaren NV           NaN          ACKB
6           COFB.BR               Cofinimmo SA           NaN          COFB
7           IETB.BR         D'Ieteren Group SA           NaN           DIE
8            KBC.BR               Kbc Groep NV           NaN           KBC
9            UCB.BR                     Ucb SA           NaN           UCB
10         AMBUb.CO                   Ambu A/S           NaN        AMBU B
11         CARLb.CO              Carlsberg A/S           NaN        CARL B
12         COLOb.CO              Coloplast A/S           NaN        COLO B
13       MAERSKb.CO    AP Moeller - Maersk A/S           NaN      MAERSK B
14          JYSK.CO             Jyske Bank A/S  DK0010307958          JYSK
15           NKT.CO                    Nkt A/S           NaN           NKT
16         ROCKb.CO               Rockwool A/S           NaN        ROCK B
17           DSV.CO                    DSV A/S           NaN           DSV
18        DEMANT.CO                 Demant A/S           NaN        DEMANT
19           FLS.CO          FLSmidth & Co A/S           NaN           FLS

   Country of Exchange                       NAICS National Industry Name  \
0              Austria                               Petroleum Refineries
1              Austria                        Electric Power Distribution
2              Austria                Steel Foundries (except Investment)
3              Austria                                 Commercial Banking
4              Belgium       Other Basic Inorganic Chemical Manufacturing
5              Belgium     Other Heavy and Civil Engineering Construction
6              Belgium  Lessors of Nonresidential Buildings (except Mi...
7              Belgium                 Automotive Glass Replacement Shops
8              Belgium  Savings Institutions and Other Depository Cred...
9              Belgium  Biological Product (except Diagnostic) Manufac...
10             Denmark      Surgical and Medical Instrument Manufacturing
11             Denmark                                          Breweries
12             Denmark      Surgical Appliance and Supplies Manufacturing
13             Denmark                    Deep Sea Freight Transportation
14             Denmark                                 Commercial Banking
15             Denmark  Electrical Apparatus and Equipment, Wiring Sup...
16             Denmark                         Mineral Wool Manufacturing
17             Denmark                 Freight Transportation Arrangement
18             Denmark      Surgical Appliance and Supplies Manufacturing
19             Denmark       Mining Machinery and Equipment Manufacturing

    Size\n(:) ESG Score\nIn the last 25 FY  Unnamed: 8  Unnamed: 9  ...  \
0         NaN                   31/12/2023  31/12/2022  31/12/2021  ...
1         NaN                   31/12/2023  31/12/2022  31/12/2021  ...
2         NaN                   31/03/2024  31/03/2023  31/03/2022  ...
3         NaN                   31/12/2023  31/12/2022  31/12/2021  ...
4         NaN                   31/12/2023  31/12/2022  31/12/2021  ...
5         NaN                   31/12/2023  31/12/2022  31/12/2021  ...
6         NaN                   31/12/2022  31/12/2021  31/12/2020  ...
7         NaN                   31/12/2023  31/12/2022  31/12/2021  ...
8         NaN                   31/12/2023  31/12/2022  31/12/2021  ...
9         NaN                   31/12/2023  31/12/2022  31/12/2021  ...
10        NaN                   30/09/2023  30/09/2022  30/09/2021  ...
11        NaN                   31/12/2023  31/12/2022  31/12/2021  ...
12        NaN                   30/09/2023  30/09/2022  30/09/2021  ...
13        NaN                   31/12/2023  31/12/2022  31/12/2021  ...
14        NaN                   31/12/2023  31/12/2022  31/12/2021  ...
15        NaN                   31/12/2023  31/12/2022  31/12/2021  ...
16        NaN                   31/12/2023  31/12/2022  31/12/2021  ...
17        NaN                   31/12/2023  31/12/2022  31/12/2021  ...
18        NaN                   31/12/2023  31/12/2022  31/12/2021  ...
19        NaN                   31/12/2023  31/12/2022  31/12/2021  ...

   Unnamed: 1522 Unnamed: 1523 Unnamed: 1524 Unnamed: 1525 Unnamed: 1526  \
0           0.00          0.00          0.00          0.00          0.00
1           0.00          0.00          0.00          0.00          0.00
2           0.00          0.00          0.00          0.00          0.00
3           0.00          0.00          0.00          0.00          0.00
4     174,948.00    454,760.00    183,249.00          0.00          0.00
5       2,106.00      9,634.00      7,302.00          0.00          0.00
6      11,699.00      7,482.00     14,941.00          0.00          0.00
7      35,209.00     22,099.00     36,989.00          0.00          0.00
8      49,806.00    114,779.00    125,772.00          0.00          0.00
9     139,129.00    177,245.00    119,245.00          0.00          0.00
10          0.00          0.00          0.00          0.00          0.00
11          0.00          0.00          0.00          0.00          0.00
12          0.00          0.00          0.00          0.00          0.00
13          0.00          0.00          0.00          0.00          0.00
14          0.00          0.00          0.00          0.00          0.00
15          0.00          0.00          0.00          0.00          0.00
16          0.00          0.00          0.00          0.00          0.00
17          0.00          0.00          0.00          0.00          0.00
18          0.00          0.00          0.00          0.00          0.00
19          0.00          0.00          0.00          0.00          0.00

   Unnamed: 1527 Unnamed: 1528 Unnamed: 1529 Unnamed: 1530 Unnamed: 1531
0           0.00          0.00          0.00          0.00          0.00
1           0.00          0.00          0.00          0.00          0.00
2           0.00          0.00          0.00          0.00          0.00
3           0.00          0.00          0.00          0.00          0.00
4     168,859.00    397,659.00    143,190.00          0.00          0.00
5       1,812.00     10,770.00      2,497.00          0.00          0.00
6         868.00      4,471.00      6,045.00          0.00          0.00
7       2,919.00     29,799.00     40,829.00          0.00          0.00
8     249,548.00     84,276.00     95,609.00          0.00          0.00
9      35,936.00     22,178.00     72,680.00          0.00          0.00
10          0.00          0.00          0.00          0.00          0.00
11          0.00          0.00          0.00          0.00          0.00
12          0.00          0.00          0.00          0.00          0.00
13          0.00          0.00          0.00          0.00          0.00
14          0.00          0.00          0.00          0.00          0.00
15          0.00          0.00          0.00          0.00          0.00
16          0.00          0.00          0.00          0.00          0.00
17          0.00          0.00          0.00          0.00          0.00
18          0.00          0.00          0.00          0.00          0.00
19          0.00          0.00          0.00          0.00          0.00

[20 rows x 1532 columns]

In [13]:

EU_data = EU_data.drop(columns=['Size\n(:)'])

print(EU_data.head())

  Identifier (RIC)         Company Name ISIN Code Ticker Symbol  \
0          OMVV.VI               Omv AG       NaN           OMV
1          VERB.VI           Verbund AG       NaN           VER
2          VOES.VI       voestalpine AG       NaN           VOE
3          ERST.VI  Erste Group Bank AG       NaN           EBS
4           UMI.BR           Umicore SA       NaN           UMI

  Country of Exchange                  NAICS National Industry Name  \
0             Austria                          Petroleum Refineries
1             Austria                   Electric Power Distribution
2             Austria           Steel Foundries (except Investment)
3             Austria                            Commercial Banking
4             Belgium  Other Basic Inorganic Chemical Manufacturing

  ESG Score\nIn the last 25 FY  Unnamed: 8  Unnamed: 9 Unnamed: 10  ...  \
0                   31/12/2023  31/12/2022  31/12/2021  31/12/2020  ...
1                   31/12/2023  31/12/2022  31/12/2021  31/12/2020  ...
2                   31/03/2024  31/03/2023  31/03/2022  31/03/2021  ...
3                   31/12/2023  31/12/2022  31/12/2021  31/12/2020  ...
4                   31/12/2023  31/12/2022  31/12/2021  31/12/2020  ...

  Unnamed: 1522 Unnamed: 1523 Unnamed: 1524 Unnamed: 1525 Unnamed: 1526  \
0          0.00          0.00          0.00          0.00          0.00
1          0.00          0.00          0.00          0.00          0.00
2          0.00          0.00          0.00          0.00          0.00
3          0.00          0.00          0.00          0.00          0.00
4    174,948.00    454,760.00    183,249.00          0.00          0.00

  Unnamed: 1527 Unnamed: 1528 Unnamed: 1529 Unnamed: 1530 Unnamed: 1531
0          0.00          0.00          0.00          0.00          0.00
1          0.00          0.00          0.00          0.00          0.00
2          0.00          0.00          0.00          0.00          0.00
3          0.00          0.00          0.00          0.00          0.00
4    168,859.00    397,659.00    143,190.00          0.00          0.00

[5 rows x 1531 columns]

In [17]:
# Convert all ESG date columns (6 to 31) to datetime and extract years
for i in range(6, 32):
    EU_data[f'Year_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year

# Select company-related columns
company_info_columns = ['Company Name', 'ISIN Code', 'Ticker Symbol', 'Country of Exchange', 'NAICS National Industry Name']
company_info = EU_data[company_info_columns]

# Create an empty DataFrame for ESG scores
esg_by_year = pd.DataFrame()

# Get all unique years from all date columns (sorted from most recent to oldest)
all_years = sorted(set(EU_data[[f'Year_{i}' for i in range(6, 32)]].stack().dropna().unique()), reverse=True)

# Initialize an empty DataFrame to store ESG scores
esg_scores_per_year = pd.DataFrame(index=EU_data.index)

# Loop through each row to correctly place ESG scores in the right year columns
for index, row in EU_data.iterrows():
    for i in range(6, 32):  # Date columns
        year = row[f'Year_{i}']  # Extract the year
        esg_score_column = EU_data.columns[i + 25]  # ESG score column (offset by 25)
        
        if pd.notna(year):  # If the year is valid
            esg_scores_per_year.at[index, f"ESG_score_{year}"] = row[esg_score_column]

# Sort columns from most recent year to oldest
esg_scores_per_year = esg_scores_per_year[sorted(esg_scores_per_year.columns, key=lambda x: int(x.split('_')[-1]), reverse=True)]

# Concatenate company info with sorted ESG scores
esg_by_year = pd.concat([company_info, esg_scores_per_year], axis=1)

# Display the resulting DataFrame
print(esg_by_year.head())

          Company Name ISIN Code Ticker Symbol Country of Exchange  \
0               Omv AG       NaN           OMV             Austria
1           Verbund AG       NaN           VER             Austria
2       voestalpine AG       NaN           VOE             Austria
3  Erste Group Bank AG       NaN           EBS             Austria
4           Umicore SA       NaN           UMI             Belgium

                   NAICS National Industry Name ESG_score_2024 ESG_score_2023  \
0                          Petroleum Refineries            NaN          83.85
1                   Electric Power Distribution            NaN          62.66
2           Steel Foundries (except Investment)          70.77          57.80
3                            Commercial Banking            NaN          71.76
4  Other Basic Inorganic Chemical Manufacturing            NaN          78.10

  ESG_score_2022 ESG_score_2021 ESG_score_2020  ... ESG_score_2007  \
0          82.30          83.87          81.26  ...          64.99
1          69.24          74.07          73.82  ...          41.27
2          64.58          64.83          70.14  ...          16.90
3          76.08          78.37          80.61  ...          39.02
4          81.20          75.11          73.71  ...          54.15

  ESG_score_2006 ESG_score_2005 ESG_score_2004 ESG_score_2003 ESG_score_2002  \
0          64.69          65.36          75.86          68.64          66.63
1          41.38          29.49            NaN            NaN            NaN
2          13.01           8.34          29.41          38.46          18.57
3          29.20          37.83          34.71          24.30          29.67
4          39.33          47.71            NaN            NaN            NaN

  ESG_score_2001 ESG_score_2000 ESG_score_1999 ESG_score_1998
0            NaN            NaN            NaN            NaN
1            NaN            NaN            NaN            NaN
2            NaN            NaN            NaN            NaN
3            NaN            NaN            NaN            NaN
4            NaN            NaN            NaN            NaN

[5 rows x 32 columns]

In [29]:
esg_by_year.iloc[:14, :12] #first column of dates for the environmental pillar score, last is at 80
# EU_data.iloc[:, 81] #first envorinmental pillar score, .last is at 105

,Company Name,ISIN Code,Ticker Symbol,Country of Exchange,NAICS National Industry Name,ESG_score_2024,ESG_score_2023,ESG_score_2022,ESG_score_2021,ESG_score_2020,ESG_score_2019,ESG_score_2018
0,Omv AG,NaN,OMV,Austria,Petroleum Refineries,NaN,83.85,82.30,83.87,81.26,77.94,77.00
1,Verbund AG,NaN,VER,Austria,Electric Power Distribution,NaN,62.66,69.24,74.07,73.82,74.32,68.01
2,voestalpine AG,NaN,VOE,Austria,Steel Foundries (except Investment),70.77,57.80,64.58,64.83,70.14,61.68,61.35
3,Erste Group Bank AG,NaN,EBS,Austria,Commercial Banking,NaN,71.76,76.08,78.37,80.61,84.11,83.17
4,Umicore SA,NaN,UMI,Belgium,Other Basic Inorganic Chemical Manufacturing,NaN,78.10,81.20,75.11,73.71,75.13,74.87
5,Ackermans & Van Haaren NV,NaN,ACKB,Belgium,Other Heavy and Civil Engineering Construction,NaN,51.37,44.33,40.18,37.79,44.27,41.04
6,Cofinimmo SA,NaN,COFB,Belgium,Lessors of Nonresidential Buildings (except Mi...,NaN,NaN,89.24,82.90,85.19,81.52,78.01
7,D'Ieteren Group SA,NaN,DIE,Belgium,Automotive Glass Replacement Shops,NaN,78.75,75.86,73.55,75.97,62.17,50.93
8,Kbc Groep NV,NaN,KBC,Belgium,Savings Institutions and Other Depository Cred...,NaN,62.04,59.51,61.55,62.50,66.89,65.04
9,Ucb SA,NaN,UCB,Belgium,Biological Product (except Diagnostic) Manufac...,NaN,81.28,88.23,82.13,84.58,82.08,80.35
10,Ambu A/S,NaN,AMBU B,Denmark,Surgical and Medical Instrument Manufacturing,NaN,71.78,68.79,59.78,55.79,54.20,51.05
11,Carlsberg A/S,NaN,CARL B,Denmark,Breweries,NaN,73.57,70.53,72.61,75.21,73.49,69.55
12,Coloplast A/S,NaN,COLO B,Denmark,Surgical Appliance and Supplies Manufacturing,NaN,72.52,79.65,78.34,74.02,62.35,60.37
13,AP Moeller - Maersk A/S,NaN,MAERSK B,Denmark,Deep Sea Freight Transportation,NaN,63.54,67.50,64.39,64.67,66.60,61.76

In [40]:
# Convert all ESG and Environmental pillar date columns to datetime and extract years
for i in range(6, 32):  # ESG dates (6-31)
    EU_data[f'Year_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
for i in range(56, 81):  # Environmental pillar dates (56-80)
    EU_data[f'Year_Env_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year

# Select company-related columns
company_info_columns = ['Company Name', 'ISIN Code', 'Ticker Symbol', 'Country of Exchange', 'NAICS National Industry Name']
company_info = EU_data[company_info_columns]

# Create DataFrames for ESG scores and Environmental scores
esg_scores_per_year = pd.DataFrame(index=EU_data.index)
env_scores_per_year = pd.DataFrame(index=EU_data.index)

# Get all unique years (sorted from most recent to oldest)
all_years = sorted(set(EU_data[[f'Year_{i}' for i in range(6, 32)]].stack().dropna().unique()), reverse=True)

# Loop through each row to correctly place ESG and Environmental scores in the right year columns
for index, row in EU_data.iterrows():
    for i in range(6, 32):  # ESG date columns
        year = row[f'Year_{i}']  # Extract the ESG year
        esg_score_column = EU_data.columns[i + 25]  # ESG score column (offset by 25)

        if pd.notna(year):  # If the year is valid
            esg_scores_per_year.at[index, f"ESG_score_{year}"] = row[esg_score_column]

    for i in range(56, 81):  # Environmental pillar date columns
        year_env = row[f'Year_Env_{i}']  # Extract the Environmental score year
        env_score_column = EU_data.columns[i + 25]  # Environmental score column (offset by 25)

        if pd.notna(year_env):  # If the year is valid
            env_scores_per_year.at[index, f"Env_score_{year_env}"] = row[env_score_column]

# Sort columns from most recent year to oldest
esg_scores_per_year = esg_scores_per_year[sorted(esg_scores_per_year.columns, key=lambda x: int(x.split('_')[-1]), reverse=True)]
env_scores_per_year = env_scores_per_year[sorted(env_scores_per_year.columns, key=lambda x: int(x.split('_')[-1]), reverse=True)]

# Combine company info, ESG scores, and Environmental scores
esg_by_year = pd.concat([company_info, esg_scores_per_year, env_scores_per_year], axis=1)

# Display the resulting DataFrame
print(esg_by_year)

                 Company Name     ISIN Code Ticker Symbol Country of Exchange  \
0                      Omv AG           NaN           OMV             Austria
1                  Verbund AG           NaN           VER             Austria
2              voestalpine AG           NaN           VOE             Austria
3         Erste Group Bank AG           NaN           EBS             Austria
4                  Umicore SA           NaN           UMI             Belgium
..                        ...           ...           ...                 ...
474           Azelis Group NV  BE0974400328           AZE             Belgium
475  Daimler Truck Holding AG  DE000DTR0CK8           DTG             Germany
476            Iveco Group NV  NL0015000LU4           IVG               Italy
477                Haleon PLC  GB00BMX86B70           HLN      United Kingdom
478    Dr Ing hc F Porsche AG  DE000PAG9113          P911             Germany

                          NAICS National Industry Name ESG_score_2024  \
0                                 Petroleum Refineries            NaN
1                          Electric Power Distribution            NaN
2                  Steel Foundries (except Investment)          70.77
3                                   Commercial Banking            NaN
4         Other Basic Inorganic Chemical Manufacturing            NaN
..                                                 ...            ...
474  Other Chemical and Allied Products Merchant Wh...            NaN
475  Automobile and Light Duty Motor Vehicle Manufa...            NaN
476                     Heavy Duty Truck Manufacturing            NaN
477           Pharmaceutical Preparation Manufacturing            NaN
478  Automobile and Light Duty Motor Vehicle Manufa...            NaN

    ESG_score_2023 ESG_score_2022 ESG_score_2021 ESG_score_2020  ...  \
0            83.85          82.30          83.87          81.26  ...
1            62.66          69.24          74.07          73.82  ...
2            57.80          64.58          64.83          70.14  ...
3            71.76          76.08          78.37          80.61  ...
4            78.10          81.20          75.11          73.71  ...
..             ...            ...            ...            ...  ...
474          62.17          62.96          62.38            NaN  ...
475          81.25          83.67          84.70            NaN  ...
476          63.36          51.38            NaN            NaN  ...
477          61.94          64.18            NaN            NaN  ...
478          73.24            NaN            NaN            NaN  ...

    Env_score_2007 Env_score_2006 Env_score_2005 Env_score_2004  \
0            34.03          35.97          42.24          52.51
1            38.47          13.52          18.94            NaN
2            30.04          14.73           5.89           0.00
3            54.81          30.64          25.56          25.81
4            55.88          52.06          56.11            NaN
..             ...            ...            ...            ...
474            NaN            NaN            NaN            NaN
475            NaN            NaN            NaN            NaN
476            NaN            NaN            NaN            NaN
477            NaN            NaN            NaN            NaN
478            NaN            NaN            NaN            NaN

    Env_score_2003 Env_score_2002 Env_score_2001 Env_score_2000  \
0            40.61          39.09            NaN            NaN
1              NaN            NaN            NaN            NaN
2            22.12           1.94            NaN            NaN
3            24.60          27.08            NaN            NaN
4              NaN            NaN            NaN            NaN
..             ...            ...            ...            ...
474            NaN            NaN            NaN            NaN
475            NaN            NaN            NaN            NaN
476            NaN            NaN            NaN            NaN
477            NaN            NaN            NaN            NaN
478            NaN            NaN            NaN            NaN

    Env_score_1999 Env_score_1998
0              NaN            NaN
1              NaN            NaN
2              NaN            NaN
3              NaN            NaN
4              NaN            NaN
..             ...            ...
474            NaN            NaN
475            NaN            NaN
476            NaN            NaN
477            NaN            NaN
478            NaN            NaN

[479 rows x 59 columns]

In [42]:
print(esg_by_year.columns)

Index(['Company Name', 'ISIN Code', 'Ticker Symbol', 'Country of Exchange',
       'NAICS National Industry Name', 'ESG_score_2024', 'ESG_score_2023',
       'ESG_score_2022', 'ESG_score_2021', 'ESG_score_2020', 'ESG_score_2019',
       'ESG_score_2018', 'ESG_score_2017', 'ESG_score_2016', 'ESG_score_2015',
       'ESG_score_2014', 'ESG_score_2013', 'ESG_score_2012', 'ESG_score_2011',
       'ESG_score_2010', 'ESG_score_2009', 'ESG_score_2008', 'ESG_score_2007',
       'ESG_score_2006', 'ESG_score_2005', 'ESG_score_2004', 'ESG_score_2003',
       'ESG_score_2002', 'ESG_score_2001', 'ESG_score_2000', 'ESG_score_1999',
       'ESG_score_1998', 'Env_score_2024', 'Env_score_2023', 'Env_score_2022',
       'Env_score_2021', 'Env_score_2020', 'Env_score_2019', 'Env_score_2018',
       'Env_score_2017', 'Env_score_2016', 'Env_score_2015', 'Env_score_2014',
       'Env_score_2013', 'Env_score_2012', 'Env_score_2011', 'Env_score_2010',
       'Env_score_2009', 'Env_score_2008', 'Env_score_2007', 'Env_score_2006',
       'Env_score_2005', 'Env_score_2004', 'Env_score_2003', 'Env_score_2002',
       'Env_score_2001', 'Env_score_2000', 'Env_score_1999', 'Env_score_1998'],
      dtype='object')

In [84]:
EU_data.iloc[:, 106] #first column of dates for the social pillar score, last is at 130
EU_data.iloc[:, 131] #first envorinmental pillar score, .last is at 155

0      89.73
1      60.25
2      80.72
3      80.51
4      80.51
       ...
474    64.25
475    87.06
476    92.71
477    55.40
478    80.49
Name: Unnamed: 132, Length: 479, dtype: object

In [86]:
# Convert all ESG, Environmental, and Social pillar date columns to datetime and extract years
for i in range(6, 32):  # ESG dates (6-31)
    EU_data[f'Year_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
for i in range(56, 81):  # Environmental pillar dates (56-80)
    EU_data[f'Year_Env_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
for i in range(106, 131):  # Social pillar dates (106-130)
    EU_data[f'Year_Soc_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year

# Select company-related columns
company_info_columns = ['Company Name', 'ISIN Code', 'Ticker Symbol', 'Country of Exchange', 'NAICS National Industry Name']
company_info = EU_data[company_info_columns]

# Create DataFrames for ESG scores, Environmental scores, and Social scores
esg_scores_per_year = pd.DataFrame(index=EU_data.index)
env_scores_per_year = pd.DataFrame(index=EU_data.index)
soc_scores_per_year = pd.DataFrame(index=EU_data.index)

# Get all unique years (sorted from most recent to oldest)
all_years = sorted(set(EU_data[[f'Year_{i}' for i in range(6, 32)]].stack().dropna().unique()), reverse=True)

# Loop through each row to correctly place ESG, Environmental, and Social scores in the right year columns
for index, row in EU_data.iterrows():
    for i in range(6, 32):  # ESG date columns
        year = row[f'Year_{i}']  # Extract the ESG year
        esg_score_column = EU_data.columns[i + 25]  # ESG score column (offset by 25)

        if pd.notna(year):  # If the year is valid
            esg_scores_per_year.at[index, f"ESG_score_{year}"] = row[esg_score_column]

    for i in range(56, 81):  # Environmental pillar date columns
        year_env = row[f'Year_Env_{i}']  # Extract the Environmental score year
        env_score_column = EU_data.columns[i + 25]  # Environmental score column (offset by 25)

        if pd.notna(year_env):  # If the year is valid
            env_scores_per_year.at[index, f"Env_score_{year_env}"] = row[env_score_column]

    for i in range(106, 131):  # Social pillar date columns
        year_soc = row[f'Year_Soc_{i}']  # Extract the Social score year
        soc_score_column = EU_data.columns[i + 25]  # Social score column (offset by 25)

        if pd.notna(year_soc):  # If the year is valid
            soc_scores_per_year.at[index, f"Soc_score_{year_soc}"] = row[soc_score_column]

# Sort columns from most recent year to oldest
esg_scores_per_year = esg_scores_per_year[sorted(esg_scores_per_year.columns, key=lambda x: int(x.split('_')[-1]), reverse=True)]
env_scores_per_year = env_scores_per_year[sorted(env_scores_per_year.columns, key=lambda x: int(x.split('_')[-1]), reverse=True)]
soc_scores_per_year = soc_scores_per_year[sorted(soc_scores_per_year.columns, key=lambda x: int(x.split('_')[-1]), reverse=True)]

# Combine company info, ESG scores, Environmental scores, and Social scores
esg_by_year = pd.concat([company_info, esg_scores_per_year, env_scores_per_year, soc_scores_per_year], axis=1)

# Display the resulting DataFrame
print(esg_by_year)

                 Company Name     ISIN Code Ticker Symbol Country of Exchange  \
0                      Omv AG           NaN           OMV             Austria
1                  Verbund AG           NaN           VER             Austria
2              voestalpine AG           NaN           VOE             Austria
3         Erste Group Bank AG           NaN           EBS             Austria
4                  Umicore SA           NaN           UMI             Belgium
..                        ...           ...           ...                 ...
474           Azelis Group NV  BE0974400328           AZE             Belgium
475  Daimler Truck Holding AG  DE000DTR0CK8           DTG             Germany
476            Iveco Group NV  NL0015000LU4           IVG               Italy
477                Haleon PLC  GB00BMX86B70           HLN      United Kingdom
478    Dr Ing hc F Porsche AG  DE000PAG9113          P911             Germany

                          NAICS National Industry Name ESG_score_2024  \
0                                 Petroleum Refineries            NaN
1                          Electric Power Distribution            NaN
2                  Steel Foundries (except Investment)          70.77
3                                   Commercial Banking            NaN
4         Other Basic Inorganic Chemical Manufacturing            NaN
..                                                 ...            ...
474  Other Chemical and Allied Products Merchant Wh...            NaN
475  Automobile and Light Duty Motor Vehicle Manufa...            NaN
476                     Heavy Duty Truck Manufacturing            NaN
477           Pharmaceutical Preparation Manufacturing            NaN
478  Automobile and Light Duty Motor Vehicle Manufa...            NaN

    ESG_score_2023 ESG_score_2022 ESG_score_2021 ESG_score_2020  ...  \
0            83.85          82.30          83.87          81.26  ...
1            62.66          69.24          74.07          73.82  ...
2            57.80          64.58          64.83          70.14  ...
3            71.76          76.08          78.37          80.61  ...
4            78.10          81.20          75.11          73.71  ...
..             ...            ...            ...            ...  ...
474          62.17          62.96          62.38            NaN  ...
475          81.25          83.67          84.70            NaN  ...
476          63.36          51.38            NaN            NaN  ...
477          61.94          64.18            NaN            NaN  ...
478          73.24            NaN            NaN            NaN  ...

    Soc_score_2007 Soc_score_2006 Soc_score_2005 Soc_score_2004  \
0            76.46          86.15          79.14          87.23
1            44.78          52.43          38.13            NaN
2            13.81          17.02          12.02          49.45
3            35.48          24.33          33.60          36.67
4            45.23          12.34          24.61            NaN
..             ...            ...            ...            ...
474            NaN            NaN            NaN            NaN
475            NaN            NaN            NaN            NaN
476            NaN            NaN            NaN            NaN
477            NaN            NaN            NaN            NaN
478            NaN            NaN            NaN            NaN

    Soc_score_2003 Soc_score_2002 Soc_score_2001 Soc_score_2000  \
0            81.79          78.25            NaN            NaN
1              NaN            NaN            NaN            NaN
2            57.01          20.72            NaN            NaN
3            23.99          18.69            NaN            NaN
4              NaN            NaN            NaN            NaN
..             ...            ...            ...            ...
474            NaN            NaN            NaN            NaN
475            NaN            NaN            NaN            NaN
476            NaN            NaN            NaN            NaN
477            NaN            NaN            NaN            NaN
478            NaN            NaN            NaN            NaN

    Soc_score_1999 Soc_score_1998
0              NaN            NaN
1              NaN            NaN
2              NaN            NaN
3              NaN            NaN
4              NaN            NaN
..             ...            ...
474            NaN            NaN
475            NaN            NaN
476            NaN            NaN
477            NaN            NaN
478            NaN            NaN

[479 rows x 86 columns]

In [88]:
print(esg_by_year.columns)

Index(['Company Name', 'ISIN Code', 'Ticker Symbol', 'Country of Exchange',
       'NAICS National Industry Name', 'ESG_score_2024', 'ESG_score_2023',
       'ESG_score_2022', 'ESG_score_2021', 'ESG_score_2020', 'ESG_score_2019',
       'ESG_score_2018', 'ESG_score_2017', 'ESG_score_2016', 'ESG_score_2015',
       'ESG_score_2014', 'ESG_score_2013', 'ESG_score_2012', 'ESG_score_2011',
       'ESG_score_2010', 'ESG_score_2009', 'ESG_score_2008', 'ESG_score_2007',
       'ESG_score_2006', 'ESG_score_2005', 'ESG_score_2004', 'ESG_score_2003',
       'ESG_score_2002', 'ESG_score_2001', 'ESG_score_2000', 'ESG_score_1999',
       'ESG_score_1998', 'Env_score_2024', 'Env_score_2023', 'Env_score_2022',
       'Env_score_2021', 'Env_score_2020', 'Env_score_2019', 'Env_score_2018',
       'Env_score_2017', 'Env_score_2016', 'Env_score_2015', 'Env_score_2014',
       'Env_score_2013', 'Env_score_2012', 'Env_score_2011', 'Env_score_2010',
       'Env_score_2009', 'Env_score_2008', 'Env_score_2007', 'Env_score_2006',
       'Env_score_2005', 'Env_score_2004', 'Env_score_2003', 'Env_score_2002',
       'Env_score_2001', 'Env_score_2000', 'Env_score_1999', 'Env_score_1998',
       'Soc_score_2024', 'Soc_score_2023', 'Soc_score_2022', 'Soc_score_2021',
       'Soc_score_2020', 'Soc_score_2019', 'Soc_score_2018', 'Soc_score_2017',
       'Soc_score_2016', 'Soc_score_2015', 'Soc_score_2014', 'Soc_score_2013',
       'Soc_score_2012', 'Soc_score_2011', 'Soc_score_2010', 'Soc_score_2009',
       'Soc_score_2008', 'Soc_score_2007', 'Soc_score_2006', 'Soc_score_2005',
       'Soc_score_2004', 'Soc_score_2003', 'Soc_score_2002', 'Soc_score_2001',
       'Soc_score_2000', 'Soc_score_1999', 'Soc_score_1998'],
      dtype='object')

In [118]:
EU_data.iloc[:, 156] #first column of dates for the social pillar score, last is at 180
EU_data.iloc[:, 181] #first envorinmental pillar score, .last is at 205

0      85.09
1      23.80
2      47.69
3      58.24
4      60.99
       ...
474    78.87
475    70.01
476    35.50
477    78.44
478    68.86
Name: Unnamed: 182, Length: 479, dtype: object

In [120]:
# Convert all ESG, Environmental, Social, and Governance date columns to datetime and extract years
for i in range(6, 32):  # ESG dates (6-31)
    EU_data[f'Year_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
for i in range(56, 81):  # Environmental pillar dates (56-80)
    EU_data[f'Year_Env_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
for i in range(106, 131):  # Social pillar dates (106-130)
    EU_data[f'Year_Soc_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
for i in range(156, 181):  # Governance pillar dates (156-180)
    EU_data[f'Year_Gov_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year

# Select company-related columns
company_info_columns = ['Company Name', 'ISIN Code', 'Ticker Symbol', 'Country of Exchange', 'NAICS National Industry Name']
company_info = EU_data[company_info_columns]

# Create DataFrames for ESG scores, Environmental scores, Social scores, and Governance scores
esg_scores_per_year = pd.DataFrame(index=EU_data.index)
env_scores_per_year = pd.DataFrame(index=EU_data.index)
soc_scores_per_year = pd.DataFrame(index=EU_data.index)
gov_scores_per_year = pd.DataFrame(index=EU_data.index)

# Get all unique years (sorted from most recent to oldest)
all_years = sorted(set(EU_data[[f'Year_{i}' for i in range(6, 32)]].stack().dropna().unique()), reverse=True)

# Loop through each row to correctly place ESG, Environmental, Social, and Governance scores in the right year columns
for index, row in EU_data.iterrows():
    for i in range(6, 32):  # ESG date columns
        year = row[f'Year_{i}']  # Extract the ESG year
        esg_score_column = EU_data.columns[i + 25]  # ESG score column (offset by 25)

        if pd.notna(year):  # If the year is valid
            esg_scores_per_year.at[index, f"ESG_score_{year}"] = row[esg_score_column]

    for i in range(56, 81):  # Environmental pillar date columns
        year_env = row[f'Year_Env_{i}']  # Extract the Environmental score year
        env_score_column = EU_data.columns[i + 25]  # Environmental score column (offset by 25)

        if pd.notna(year_env):  # If the year is valid
            env_scores_per_year.at[index, f"Env_score_{year_env}"] = row[env_score_column]

    for i in range(106, 131):  # Social pillar date columns
        year_soc = row[f'Year_Soc_{i}']  # Extract the Social score year
        soc_score_column = EU_data.columns[i + 25]  # Social score column (offset by 25)

        if pd.notna(year_soc):  # If the year is valid
            soc_scores_per_year.at[index, f"Soc_score_{year_soc}"] = row[soc_score_column]

    for i in range(156, 181):  # Governance pillar date columns
        year_gov = row[f'Year_Gov_{i}']  # Extract the Governance score year
        gov_score_column = EU_data.columns[i + 25]  # Governance score column (offset by 25)

        if pd.notna(year_gov):  # If the year is valid
            gov_scores_per_year.at[index, f"Gov_score_{year_gov}"] = row[gov_score_column]

# Sort columns from most recent year to oldest
esg_scores_per_year = esg_scores_per_year[sorted(esg_scores_per_year.columns, key=lambda x: int(x.split('_')[-1]), reverse=True)]
env_scores_per_year = env_scores_per_year[sorted(env_scores_per_year.columns, key=lambda x: int(x.split('_')[-1]), reverse=True)]
soc_scores_per_year = soc_scores_per_year[sorted(soc_scores_per_year.columns, key=lambda x: int(x.split('_')[-1]), reverse=True)]
gov_scores_per_year = gov_scores_per_year[sorted(gov_scores_per_year.columns, key=lambda x: int(x.split('_')[-1]), reverse=True)]

# Combine company info, ESG scores, Environmental scores, Social scores, and Governance scores
esg_by_year = pd.concat([company_info, esg_scores_per_year, env_scores_per_year, soc_scores_per_year, gov_scores_per_year], axis=1)

# Display the resulting DataFrame
print(esg_by_year)

C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_16576\3273947872.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_Gov_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_16576\3273947872.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_Gov_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year

                 Company Name     ISIN Code Ticker Symbol Country of Exchange  \
0                      Omv AG           NaN           OMV             Austria
1                  Verbund AG           NaN           VER             Austria
2              voestalpine AG           NaN           VOE             Austria
3         Erste Group Bank AG           NaN           EBS             Austria
4                  Umicore SA           NaN           UMI             Belgium
..                        ...           ...           ...                 ...
474           Azelis Group NV  BE0974400328           AZE             Belgium
475  Daimler Truck Holding AG  DE000DTR0CK8           DTG             Germany
476            Iveco Group NV  NL0015000LU4           IVG               Italy
477                Haleon PLC  GB00BMX86B70           HLN      United Kingdom
478    Dr Ing hc F Porsche AG  DE000PAG9113          P911             Germany

                          NAICS National Industry Name ESG_score_2024  \
0                                 Petroleum Refineries            NaN
1                          Electric Power Distribution            NaN
2                  Steel Foundries (except Investment)          70.77
3                                   Commercial Banking            NaN
4         Other Basic Inorganic Chemical Manufacturing            NaN
..                                                 ...            ...
474  Other Chemical and Allied Products Merchant Wh...            NaN
475  Automobile and Light Duty Motor Vehicle Manufa...            NaN
476                     Heavy Duty Truck Manufacturing            NaN
477           Pharmaceutical Preparation Manufacturing            NaN
478  Automobile and Light Duty Motor Vehicle Manufa...            NaN

    ESG_score_2023 ESG_score_2022 ESG_score_2021 ESG_score_2020  ...  \
0            83.85          82.30          83.87          81.26  ...
1            62.66          69.24          74.07          73.82  ...
2            57.80          64.58          64.83          70.14  ...
3            71.76          76.08          78.37          80.61  ...
4            78.10          81.20          75.11          73.71  ...
..             ...            ...            ...            ...  ...
474          62.17          62.96          62.38            NaN  ...
475          81.25          83.67          84.70            NaN  ...
476          63.36          51.38            NaN            NaN  ...
477          61.94          64.18            NaN            NaN  ...
478          73.24            NaN            NaN            NaN  ...

    Gov_score_2007 Gov_score_2006 Gov_score_2005 Gov_score_2004  \
0            89.96          68.54          74.71          89.83
1            41.45          74.38          36.21            NaN
2             3.11           3.96           5.83          38.72
3            45.09          44.79          58.79          45.90
4            66.19          62.59          72.03            NaN
..             ...            ...            ...            ...
474            NaN            NaN            NaN            NaN
475            NaN            NaN            NaN            NaN
476            NaN            NaN            NaN            NaN
477            NaN            NaN            NaN            NaN
478            NaN            NaN            NaN            NaN

    Gov_score_2003 Gov_score_2002 Gov_score_2001 Gov_score_2000  \
0            86.30          86.30            NaN            NaN
1              NaN            NaN            NaN            NaN
2            31.48          38.89            NaN            NaN
3            34.44          56.67            NaN            NaN
4              NaN            NaN            NaN            NaN
..             ...            ...            ...            ...
474            NaN            NaN            NaN            NaN
475            NaN            NaN            NaN            NaN
476            NaN            NaN            NaN            NaN
477            NaN            NaN            NaN            NaN
478            NaN            NaN            NaN            NaN

    Gov_score_1999 Gov_score_1998
0              NaN            NaN
1              NaN            NaN
2              NaN            NaN
3              NaN            NaN
4              NaN            NaN
..             ...            ...
474            NaN            NaN
475            NaN            NaN
476            NaN            NaN
477            NaN            NaN
478            NaN            NaN

[479 rows x 113 columns]

In [146]:
EU_data.iloc[:, 206] #first column of dates for the ESG Combined score, last is at 230
EU_data.iloc[:, 231] #first ESG Combined score 231 pillar score, .last is at 255

0      59.70
1      62.66
2      70.77
3      71.76
4      78.10
       ...
474    62.17
475    50.03
476    63.36
477    61.94
478    62.72
Name: Unnamed: 232, Length: 479, dtype: object

In [11]:
# Convert all ESG, Environmental, Social, Governance, and ESG Combined date columns to datetime and extract years
for i in range(6, 32):  # ESG dates (6-31)
    EU_data[f'Year_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
for i in range(56, 81):  # Environmental pillar dates (56-80)
    EU_data[f'Year_Env_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
for i in range(106, 131):  # Social pillar dates (106-130)
    EU_data[f'Year_Soc_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
for i in range(156, 181):  # Governance pillar dates (156-180)
    EU_data[f'Year_Gov_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
for i in range(206, 231):  # ESG Combined score dates (206-230)
    EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year

# Select company-related columns
company_info_columns = ['Company Name', 'ISIN Code', 'Ticker Symbol', 'Country of Exchange', 'NAICS National Industry Name']
company_info = EU_data[company_info_columns]

# Create DataFrames for ESG scores, Environmental scores, Social scores, Governance scores, and ESG Combined scores
esg_scores_per_year = pd.DataFrame(index=EU_data.index)
env_scores_per_year = pd.DataFrame(index=EU_data.index)
soc_scores_per_year = pd.DataFrame(index=EU_data.index)
gov_scores_per_year = pd.DataFrame(index=EU_data.index)
esg_comb_scores_per_year = pd.DataFrame(index=EU_data.index)

# Get all unique years (sorted from most recent to oldest)
all_years = sorted(set(EU_data[[f'Year_{i}' for i in range(6, 32)]].stack().dropna().unique()), reverse=True)

# Loop through each row to correctly place ESG, Environmental, Social, Governance, and ESG Combined scores in the right year columns
for index, row in EU_data.iterrows():
    for i in range(6, 32):  # ESG date columns
        year = row[f'Year_{i}']
        esg_score_column = EU_data.columns[i + 25]  # ESG score column (offset by 25)
        if pd.notna(year):
            esg_scores_per_year.at[index, f"ESG_score_{year}"] = row[esg_score_column]

    for i in range(56, 81):  # Environmental pillar date columns
        year_env = row[f'Year_Env_{i}']
        env_score_column = EU_data.columns[i + 25]  # Environmental score column (offset by 25)
        if pd.notna(year_env):
            env_scores_per_year.at[index, f"Env_score_{year_env}"] = row[env_score_column]

    for i in range(106, 131):  # Social pillar date columns
        year_soc = row[f'Year_Soc_{i}']
        soc_score_column = EU_data.columns[i + 25]  # Social score column (offset by 25)
        if pd.notna(year_soc):
            soc_scores_per_year.at[index, f"Soc_score_{year_soc}"] = row[soc_score_column]

    for i in range(156, 181):  # Governance pillar date columns
        year_gov = row[f'Year_Gov_{i}']
        gov_score_column = EU_data.columns[i + 25]  # Governance score column (offset by 25)
        if pd.notna(year_gov):
            gov_scores_per_year.at[index, f"Gov_score_{year_gov}"] = row[gov_score_column]

    for i in range(206, 231):  # ESG Combined score date columns
        year_esg_comb = row[f'Year_ESG_Comb_{i}']
        esg_comb_score_column = EU_data.columns[i + 25]  # ESG Combined score column (offset by 25)
        if pd.notna(year_esg_comb):
            esg_comb_scores_per_year.at[index, f"ESG_Comb_score_{year_esg_comb}"] = row[esg_comb_score_column]

# Sort columns from most recent year to oldest
esg_scores_per_year = esg_scores_per_year[sorted(esg_scores_per_year.columns, key=lambda x: int(x.split('_')[-1]), reverse=True)]
env_scores_per_year = env_scores_per_year[sorted(env_scores_per_year.columns, key=lambda x: int(x.split('_')[-1]), reverse=True)]
soc_scores_per_year = soc_scores_per_year[sorted(soc_scores_per_year.columns, key=lambda x: int(x.split('_')[-1]), reverse=True)]
gov_scores_per_year = gov_scores_per_year[sorted(gov_scores_per_year.columns, key=lambda x: int(x.split('_')[-1]), reverse=True)]
esg_comb_scores_per_year = esg_comb_scores_per_year[sorted(esg_comb_scores_per_year.columns, key=lambda x: int(x.split('_')[-1]), reverse=True)]

# Combine company info, ESG scores, Environmental scores, Social scores, Governance scores, and ESG Combined scores
esg_by_year = pd.concat([company_info, esg_scores_per_year, env_scores_per_year, soc_scores_per_year, gov_scores_per_year, esg_comb_scores_per_year], axis=1)

# Display the resulting DataFrame
print(esg_by_year)

C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_Gov_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_Gov_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year
C:\Users\fbergsma1\AppData\Local\Temp\ipykernel_25920\4229960336.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  EU_data[f'Year_ESG_Comb_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year

                 Company Name     ISIN Code Ticker Symbol Country of Exchange  \
0                      Omv AG           NaN           OMV             Austria
1                  Verbund AG           NaN           VER             Austria
2              voestalpine AG           NaN           VOE             Austria
3         Erste Group Bank AG           NaN           EBS             Austria
4                  Umicore SA           NaN           UMI             Belgium
..                        ...           ...           ...                 ...
474           Azelis Group NV  BE0974400328           AZE             Belgium
475  Daimler Truck Holding AG  DE000DTR0CK8           DTG             Germany
476            Iveco Group NV  NL0015000LU4           IVG               Italy
477                Haleon PLC  GB00BMX86B70           HLN      United Kingdom
478    Dr Ing hc F Porsche AG  DE000PAG9113          P911             Germany

                          NAICS National Industry Name ESG_score_2024  \
0                                 Petroleum Refineries            NaN
1                          Electric Power Distribution            NaN
2                  Steel Foundries (except Investment)          70.77
3                                   Commercial Banking            NaN
4         Other Basic Inorganic Chemical Manufacturing            NaN
..                                                 ...            ...
474  Other Chemical and Allied Products Merchant Wh...            NaN
475  Automobile and Light Duty Motor Vehicle Manufa...            NaN
476                     Heavy Duty Truck Manufacturing            NaN
477           Pharmaceutical Preparation Manufacturing            NaN
478  Automobile and Light Duty Motor Vehicle Manufa...            NaN

    ESG_score_2023 ESG_score_2022 ESG_score_2021 ESG_score_2020  ...  \
0            83.85          82.30          83.87          81.26  ...
1            62.66          69.24          74.07          73.82  ...
2            57.80          64.58          64.83          70.14  ...
3            71.76          76.08          78.37          80.61  ...
4            78.10          81.20          75.11          73.71  ...
..             ...            ...            ...            ...  ...
474          62.17          62.96          62.38            NaN  ...
475          81.25          83.67          84.70            NaN  ...
476          63.36          51.38            NaN            NaN  ...
477          61.94          64.18            NaN            NaN  ...
478          73.24            NaN            NaN            NaN  ...

    ESG_Comb_score_2007 ESG_Comb_score_2006 ESG_Comb_score_2005  \
0                 64.99               64.69               65.36
1                 41.27               41.38               29.49
2                 16.90               13.01                8.34
3                 39.02               29.20               37.83
4                 52.07               39.33               47.71
..                  ...                 ...                 ...
474                 NaN                 NaN                 NaN
475                 NaN                 NaN                 NaN
476                 NaN                 NaN                 NaN
477                 NaN                 NaN                 NaN
478                 NaN                 NaN                 NaN

    ESG_Comb_score_2004 ESG_Comb_score_2003 ESG_Comb_score_2002  \
0                 58.38               68.64               66.63
1                   NaN                 NaN                 NaN
2                 29.41               38.46               18.57
3                 34.71               24.30               29.67
4                   NaN                 NaN                 NaN
..                  ...                 ...                 ...
474                 NaN                 NaN                 NaN
475                 NaN                 NaN                 NaN
476                 NaN                 NaN                 NaN
477                 NaN                 NaN                 NaN
478                 NaN                 NaN                 NaN

    ESG_Comb_score_2001 ESG_Comb_score_2000 ESG_Comb_score_1999  \
0                   NaN                 NaN                 NaN
1                   NaN                 NaN                 NaN
2                   NaN                 NaN                 NaN
3                   NaN                 NaN                 NaN
4                   NaN                 NaN                 NaN
..                  ...                 ...                 ...
474                 NaN                 NaN                 NaN
475                 NaN                 NaN                 NaN
476                 NaN                 NaN                 NaN
477                 NaN                 NaN                 NaN
478                 NaN                 NaN                 NaN

    ESG_Comb_score_1998
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
..                  ...
474                 NaN
475                 NaN
476                 NaN
477                 NaN
478                 NaN

[479 rows x 140 columns]

In [152]:
nan_summary = pd.DataFrame(nan_counts, columns=['NaN Count']).reset_index()
nan_summary.columns = ['Column Name', 'NaN Count']
print(nan_summary)

                      Column Name  NaN Count
0                    Company Name          0
1                       ISIN Code        347
2                   Ticker Symbol          0
3             Country of Exchange          0
4    NAICS National Industry Name          0
..                            ...        ...
135           ESG_Comb_score_2002        287
136           ESG_Comb_score_2001        479
137           ESG_Comb_score_2000        479
138           ESG_Comb_score_1999        479
139           ESG_Comb_score_1998        479

[140 rows x 2 columns]

In [154]:
nan_counts_per_firm = esg_by_year.isna().sum(axis=1)

# Add NaN count as a new column
esg_by_year['NaN Count Per Firm'] = nan_counts_per_firm

# Print the first few firms with their NaN count
print(esg_by_year[['Company Name', 'NaN Count Per Firm']].head())

          Company Name  NaN Count Per Firm
0               Omv AG                  26
1           Verbund AG                  41
2       voestalpine AG                  21
3  Erste Group Bank AG                  26
4           Umicore SA                  41

In [156]:
sorted_nan_firms = esg_by_year[['Company Name', 'NaN Count Per Firm']].sort_values(by='NaN Count Per Firm', ascending=False)
print(sorted_nan_firms)

                    Company Name  NaN Count Per Firm
478       Dr Ing hc F Porsche AG                 130
138                   Vidrala SA                 126
477                   Haleon PLC                 125
476               Iveco Group NV                 125
475     Daimler Truck Holding AG                 120
..                           ...                 ...
359  Berkeley Group Holdings PLC                  20
178             Severn Trent PLC                  20
302                Whitbread PLC                  20
214           Vodafone Group PLC                  20
181                  Bellway PLC                  20

[479 rows x 2 columns]

In [162]:
nan_counts_per_column = esg_by_year.isna().sum().sort_values(ascending=False)

# Print the top columns with the most NaNs
print(nan_counts_per_column.head(50))  # Show the 10 columns with the most NaNs

Soc_score_2001         479
Env_score_1998         479
ESG_score_1999         479
ESG_score_1998         479
Gov_score_1998         479
Gov_score_1999         479
Gov_score_2000         479
Gov_score_2001         479
Soc_score_2000         479
Env_score_2001         479
Env_score_2000         479
ESG_score_2000         479
Env_score_1999         479
Soc_score_1998         479
ESG_Comb_score_2001    479
Soc_score_1999         479
ESG_Comb_score_2000    479
ESG_Comb_score_1999    479
ESG_Comb_score_1998    479
ESG_score_2001         479
Soc_score_2024         441
Gov_score_2024         441
ESG_score_2024         441
ESG_Comb_score_2024    441
Env_score_2024         441
ISIN Code              347
Env_score_2002         287
Gov_score_2002         287
Soc_score_2002         287
ESG_Comb_score_2002    287
ESG_score_2002         287
ESG_Comb_score_2003    285
Soc_score_2003         285
Gov_score_2003         285
ESG_score_2003         285
Env_score_2003         285
ESG_score_2004         228
Soc_score_2004         228
ESG_Comb_score_2004    228
Gov_score_2004         228
Env_score_2004         228
Env_score_2005         165
Soc_score_2005         165
ESG_Comb_score_2005    165
Gov_score_2005         165
ESG_score_2005         165
Soc_score_2006         160
ESG_Comb_score_2006    160
Env_score_2006         160
Gov_score_2006         160
dtype: int64

In [17]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\fbergsma1\appdata\local\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\fbergsma1\appdata\local\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
# Export to Excel
esg_by_year.to_excel('_by_year.xlsx', index=False, engine='openpyxl')

# EU Financial data

In [28]:
EU_data = pd.read_csv(r"file.csv")

print(EU_data.head(20))

   Identifier (RIC)               Company Name ISIN Code Ticker Symbol  \
0               NaN                        NaN       NaN           NaN
1               NaN                        NaN       NaN           NaN
2           .ONECHF                        NaN       NaN           NaN
3           .ONEUKP                        NaN       NaN           NaN
4           .ONESEK                        NaN       NaN           NaN
5           .ONEDKK                        NaN       NaN           NaN
6           .ONENOK                        NaN       NaN           NaN
7           .ONEPLN                        NaN       NaN           NaN
8           .ONEUSD                        NaN       NaN           NaN
9           .ONEEUR                        NaN       NaN           NaN
10          OMVV.VI                     Omv AG       NaN           OMV
11          VERB.VI                 Verbund AG       NaN           VER
12          VOES.VI             voestalpine AG       NaN           VOE
13          ERST.VI        Erste Group Bank AG       NaN           EBS
14           UMI.BR                 Umicore SA       NaN           UMI
15          ACKB.BR  Ackermans & Van Haaren NV       NaN          ACKB
16          COFB.BR               Cofinimmo SA       NaN          COFB
17          IETB.BR         D'Ieteren Group SA       NaN           DIE
18           KBC.BR               Kbc Groep NV       NaN           KBC
19           UCB.BR                     Ucb SA       NaN           UCB

   Country of Exchange                       NAICS National Industry Name  \
0                  NaN                                                NaN
1                  NaN                                                NaN
2                  NaN                                                NaN
3                  NaN                                                NaN
4                  NaN                                                NaN
5                  NaN                                                NaN
6                  NaN                                                NaN
7                  NaN                                                NaN
8                  NaN                                                NaN
9                  NaN                                                NaN
10             Austria                               Petroleum Refineries
11             Austria                        Electric Power Distribution
12             Austria                Steel Foundries (except Investment)
13             Austria                                 Commercial Banking
14             Belgium       Other Basic Inorganic Chemical Manufacturing
15             Belgium     Other Heavy and Civil Engineering Construction
16             Belgium  Lessors of Nonresidential Buildings (except Mi...
17             Belgium                 Automotive Glass Replacement Shops
18             Belgium  Savings Institutions and Other Depository Cred...
19             Belgium  Biological Product (except Diagnostic) Manufac...

    Size\n(:) ESG Score\nIn the last 25 FY  Unnamed: 8  Unnamed: 9  ...  \
0         NaN    (Date)\nIn the last 25 FY         NaN         NaN  ...
1         NaN                          FY0        FY-1        FY-2  ...
2         NaN                          NaN         NaN         NaN  ...
3         NaN                          NaN         NaN         NaN  ...
4         NaN                          NaN         NaN         NaN  ...
5         NaN                          NaN         NaN         NaN  ...
6         NaN                          NaN         NaN         NaN  ...
7         NaN                          NaN         NaN         NaN  ...
8         NaN                          NaN         NaN         NaN  ...
9         NaN                          NaN         NaN         NaN  ...
10        NaN                   31/12/2023  31/12/2022  31/12/2021  ...
11        NaN                   31/12/2023  31/12/2022  31/12/2021  ...
12        NaN                   31/03/2024  31/03/2023  31/03/2022  ...
13        NaN                   31/12/2023  31/12/2022  31/12/2021  ...
14        NaN                   31/12/2023  31/12/2022  31/12/2021  ...
15        NaN                   31/12/2023  31/12/2022  31/12/2021  ...
16        NaN                   31/12/2022  31/12/2021  31/12/2020  ...
17        NaN                   31/12/2023  31/12/2022  31/12/2021  ...
18        NaN                   31/12/2023  31/12/2022  31/12/2021  ...
19        NaN                   31/12/2023  31/12/2022  31/12/2021  ...

   Unnamed: 1522 Unnamed: 1523 Unnamed: 1524 Unnamed: 1525 Unnamed: 1526  \
0            NaN           NaN           NaN           NaN           NaN
1          FY-15         FY-16         FY-17         FY-18         FY-19
2            NaN           NaN           NaN           NaN           NaN
3            NaN           NaN           NaN           NaN           NaN
4            NaN           NaN           NaN           NaN           NaN
5            NaN           NaN           NaN           NaN           NaN
6            NaN           NaN           NaN           NaN           NaN
7            NaN           NaN           NaN           NaN           NaN
8            NaN           NaN           NaN           NaN           NaN
9            NaN           NaN           NaN           NaN           NaN
10          0.00          0.00          0.00          0.00          0.00
11          0.00          0.00          0.00          0.00          0.00
12          0.00          0.00          0.00          0.00          0.00
13          0.00          0.00          0.00          0.00          0.00
14    174,948.00    454,760.00    183,249.00          0.00          0.00
15      2,106.00      9,634.00      7,302.00          0.00          0.00
16     11,699.00      7,482.00     14,941.00          0.00          0.00
17     35,209.00     22,099.00     36,989.00          0.00          0.00
18     49,806.00    114,779.00    125,772.00          0.00          0.00
19    139,129.00    177,245.00    119,245.00          0.00          0.00

   Unnamed: 1527 Unnamed: 1528 Unnamed: 1529 Unnamed: 1530 Unnamed: 1531
0            NaN           NaN           NaN           NaN           NaN
1          FY-20         FY-21         FY-22         FY-23         FY-24
2            NaN           NaN           NaN           NaN           NaN
3            NaN           NaN           NaN           NaN           NaN
4            NaN           NaN           NaN           NaN           NaN
5            NaN           NaN           NaN           NaN           NaN
6            NaN           NaN           NaN           NaN           NaN
7            NaN           NaN           NaN           NaN           NaN
8            NaN           NaN           NaN           NaN           NaN
9            NaN           NaN           NaN           NaN           NaN
10          0.00          0.00          0.00          0.00          0.00
11          0.00          0.00          0.00          0.00          0.00
12          0.00          0.00          0.00          0.00          0.00
13          0.00          0.00          0.00          0.00          0.00
14    168,859.00    397,659.00    143,190.00          0.00          0.00
15      1,812.00     10,770.00      2,497.00          0.00          0.00
16        868.00      4,471.00      6,045.00          0.00          0.00
17      2,919.00     29,799.00     40,829.00          0.00          0.00
18    249,548.00     84,276.00     95,609.00          0.00          0.00
19     35,936.00     22,178.00     72,680.00          0.00          0.00

[20 rows x 1532 columns]

In [30]:
# Remove the first 10 rows of the dataset, since these contains only NaN's
EU_data = EU_data.iloc[10:].reset_index(drop=True)


print(EU_data.head())

  Identifier (RIC)         Company Name ISIN Code Ticker Symbol  \
0          OMVV.VI               Omv AG       NaN           OMV
1          VERB.VI           Verbund AG       NaN           VER
2          VOES.VI       voestalpine AG       NaN           VOE
3          ERST.VI  Erste Group Bank AG       NaN           EBS
4           UMI.BR           Umicore SA       NaN           UMI

  Country of Exchange                  NAICS National Industry Name  \
0             Austria                          Petroleum Refineries
1             Austria                   Electric Power Distribution
2             Austria           Steel Foundries (except Investment)
3             Austria                            Commercial Banking
4             Belgium  Other Basic Inorganic Chemical Manufacturing

   Size\n(:) ESG Score\nIn the last 25 FY  Unnamed: 8  Unnamed: 9  ...  \
0        NaN                   31/12/2023  31/12/2022  31/12/2021  ...
1        NaN                   31/12/2023  31/12/2022  31/12/2021  ...
2        NaN                   31/03/2024  31/03/2023  31/03/2022  ...
3        NaN                   31/12/2023  31/12/2022  31/12/2021  ...
4        NaN                   31/12/2023  31/12/2022  31/12/2021  ...

  Unnamed: 1522 Unnamed: 1523 Unnamed: 1524 Unnamed: 1525 Unnamed: 1526  \
0          0.00          0.00          0.00          0.00          0.00
1          0.00          0.00          0.00          0.00          0.00
2          0.00          0.00          0.00          0.00          0.00
3          0.00          0.00          0.00          0.00          0.00
4    174,948.00    454,760.00    183,249.00          0.00          0.00

  Unnamed: 1527 Unnamed: 1528 Unnamed: 1529 Unnamed: 1530 Unnamed: 1531
0          0.00          0.00          0.00          0.00          0.00
1          0.00          0.00          0.00          0.00          0.00
2          0.00          0.00          0.00          0.00          0.00
3          0.00          0.00          0.00          0.00          0.00
4    168,859.00    397,659.00    143,190.00          0.00          0.00

[5 rows x 1532 columns]

In [32]:
EU_data = EU_data.drop(columns=['Size\n(:)'])

print(EU_data.head())

  Identifier (RIC)         Company Name ISIN Code Ticker Symbol  \
0          OMVV.VI               Omv AG       NaN           OMV
1          VERB.VI           Verbund AG       NaN           VER
2          VOES.VI       voestalpine AG       NaN           VOE
3          ERST.VI  Erste Group Bank AG       NaN           EBS
4           UMI.BR           Umicore SA       NaN           UMI

  Country of Exchange                  NAICS National Industry Name  \
0             Austria                          Petroleum Refineries
1             Austria                   Electric Power Distribution
2             Austria           Steel Foundries (except Investment)
3             Austria                            Commercial Banking
4             Belgium  Other Basic Inorganic Chemical Manufacturing

  ESG Score\nIn the last 25 FY  Unnamed: 8  Unnamed: 9 Unnamed: 10  ...  \
0                   31/12/2023  31/12/2022  31/12/2021  31/12/2020  ...
1                   31/12/2023  31/12/2022  31/12/2021  31/12/2020  ...
2                   31/03/2024  31/03/2023  31/03/2022  31/03/2021  ...
3                   31/12/2023  31/12/2022  31/12/2021  31/12/2020  ...
4                   31/12/2023  31/12/2022  31/12/2021  31/12/2020  ...

  Unnamed: 1522 Unnamed: 1523 Unnamed: 1524 Unnamed: 1525 Unnamed: 1526  \
0          0.00          0.00          0.00          0.00          0.00
1          0.00          0.00          0.00          0.00          0.00
2          0.00          0.00          0.00          0.00          0.00
3          0.00          0.00          0.00          0.00          0.00
4    174,948.00    454,760.00    183,249.00          0.00          0.00

  Unnamed: 1527 Unnamed: 1528 Unnamed: 1529 Unnamed: 1530 Unnamed: 1531
0          0.00          0.00          0.00          0.00          0.00
1          0.00          0.00          0.00          0.00          0.00
2          0.00          0.00          0.00          0.00          0.00
3          0.00          0.00          0.00          0.00          0.00
4    168,859.00    397,659.00    143,190.00          0.00          0.00

[5 rows x 1531 columns]

In [60]:
EU_data.iloc[:, 456] #first column of dates for the ROE value, last is at 480
EU_data.iloc[:, 481] #first column of ROE, .last is at 505

0      12.3%
1      26.3%
2       5.5%
3        NaN
4       8.7%
       ...
474     6.8%
475    18.1%
476    22.5%
477    10.0%
478    26.7%
Name: Unnamed: 482, Length: 479, dtype: object

In [62]:
# Convert all ROE date columns (456 to 480) to datetime and extract years
for i in range(456, 481):  # ROE date columns (456-480)
    EU_data[f'Year_ROE_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year

# Select company-related columns
company_info_columns = ['Company Name', 'ISIN Code', 'Ticker Symbol', 'Country of Exchange', 'NAICS National Industry Name']
company_info = EU_data[company_info_columns]

# Create an empty DataFrame for ROE scores
finance_performance_by_year = pd.DataFrame()

# Get all unique years from all ROE date columns (sorted from most recent to oldest)
all_years = sorted(set(EU_data[[f'Year_ROE_{i}' for i in range(456, 481)]].stack().dropna().unique()), reverse=True)

# Initialize an empty DataFrame to store ROE scores per year
roe_scores_per_year = pd.DataFrame(index=EU_data.index)

# Loop through each row to correctly place ROE scores in the right year columns
for index, row in EU_data.iterrows():
    for i in range(456, 481):  # ROE date columns
        year_roe = row[f'Year_ROE_{i}']  # Extract the year
        roe_score_column = EU_data.columns[i + 25]  # ROE score column (offset by 25)
        
        if pd.notna(year_roe):  # If the year is valid
            roe_scores_per_year.at[index, f"ROE_score_{year_roe}"] = row[roe_score_column]

# Sort columns from most recent year to oldest
roe_scores_per_year = roe_scores_per_year[sorted(roe_scores_per_year.columns, key=lambda x: int(x.split('_')[-1]), reverse=True)]

# Concatenate company info with sorted ROE scores
finance_performance_by_year = pd.concat([company_info, roe_scores_per_year], axis=1)

# Display the resulting DataFrame
print(finance_performance_by_year)

                 Company Name     ISIN Code Ticker Symbol Country of Exchange  \
0                      Omv AG           NaN           OMV             Austria
1                  Verbund AG           NaN           VER             Austria
2              voestalpine AG           NaN           VOE             Austria
3         Erste Group Bank AG           NaN           EBS             Austria
4                  Umicore SA           NaN           UMI             Belgium
..                        ...           ...           ...                 ...
474           Azelis Group NV  BE0974400328           AZE             Belgium
475  Daimler Truck Holding AG  DE000DTR0CK8           DTG             Germany
476            Iveco Group NV  NL0015000LU4           IVG               Italy
477                Haleon PLC  GB00BMX86B70           HLN      United Kingdom
478    Dr Ing hc F Porsche AG  DE000PAG9113          P911             Germany

                          NAICS National Industry Name ROE_score_2025  \
0                                 Petroleum Refineries          12.3%
1                          Electric Power Distribution            NaN
2                  Steel Foundries (except Investment)            NaN
3                                   Commercial Banking            NaN
4         Other Basic Inorganic Chemical Manufacturing           8.7%
..                                                 ...            ...
474  Other Chemical and Allied Products Merchant Wh...           6.8%
475  Automobile and Light Duty Motor Vehicle Manufa...            NaN
476                     Heavy Duty Truck Manufacturing          22.5%
477           Pharmaceutical Preparation Manufacturing          10.0%
478  Automobile and Light Duty Motor Vehicle Manufa...            NaN

    ROE_score_2024 ROE_score_2023 ROE_score_2022 ROE_score_2021  ...  \
0            14.9%          29.6%          15.6%           9.4%  ...
1            26.3%          25.2%          15.0%          10.4%  ...
2             5.5%          14.5%          20.9%           0.8%  ...
3            17.2%          12.6%          12.7%           5.5%  ...
4            12.5%          17.9%          23.5%          12.5%  ...
..             ...            ...            ...            ...  ...
474           7.1%           9.2%           5.7%            NaN  ...
475          18.1%          14.8%          19.4%            NaN  ...
476          14.3%           9.2%           5.1%            NaN  ...
477           9.8%           8.0%            NaN            NaN  ...
478          26.7%          29.1%            NaN            NaN  ...

    ROE_score_2009 ROE_score_2008 ROE_score_2007 ROE_score_2006  \
0            17.6%          16.2%          16.3%          18.1%
1            23.7%          23.3%          26.1%          19.3%
2            12.4%          20.7%          27.3%          22.2%
3             7.6%          10.5%          10.8%          11.5%
4            15.5%          18.0%          21.9%          13.2%
..             ...            ...            ...            ...
474            NaN            NaN            NaN            NaN
475            NaN            NaN            NaN            NaN
476            NaN            NaN            NaN            NaN
477            NaN            NaN            NaN            NaN
478            NaN            NaN            NaN            NaN

    ROE_score_2005 ROE_score_2004 ROE_score_2003 ROE_score_2002  \
0            19.4%          15.0%          14.4%          19.6%
1            15.3%          14.8%          14.5%          11.9%
2            18.3%           7.3%           3.6%           3.6%
3            17.7%          14.6%          12.7%          12.0%
4            14.1%           7.9%           6.1%           7.5%
..             ...            ...            ...            ...
474            NaN            NaN            NaN            NaN
475            NaN            NaN            NaN            NaN
476            NaN            NaN            NaN            NaN
477            NaN            NaN            NaN            NaN
478            NaN            NaN            NaN            NaN

    ROE_score_2001 ROE_score_2000
0            18.7%            NaN
1            10.1%           9.9%
2            13.4%           9.6%
3            16.1%            NaN
4            13.5%            NaN
..             ...            ...
474            NaN            NaN
475            NaN            NaN
476            NaN            NaN
477            NaN            NaN
478            NaN            NaN

[479 rows x 31 columns]

In [80]:
EU_data.iloc[:, 506] #first column of dates for the ROA value, last is at 530
EU_data.iloc[:, 531] #first column of ROA, .last is at 555

0        4.2%
1       11.7%
2        2.4%
3        0.9%
4      -15.3%
        ...
474      3.3%
475      5.6%
476      3.0%
477      4.8%
478     15.0%
Name: Unnamed: 532, Length: 479, dtype: object

In [82]:
# Convert all ROA date columns (506 to 530) to datetime and extract years
for i in range(506, 531):  # ROA date columns (506-530)
    EU_data[f'Year_ROA_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year

# Create an empty DataFrame for ROA scores
roa_scores_per_year = pd.DataFrame(index=EU_data.index)

# Get all unique years from all ROA date columns (sorted from most recent to oldest)
all_years_roa = sorted(set(EU_data[[f'Year_ROA_{i}' for i in range(506, 531)]].stack().dropna().unique()), reverse=True)

# Loop through each row to correctly place ROA scores in the right year columns
for index, row in EU_data.iterrows():
    for i in range(506, 531):  # ROA date columns
        year_roa = row[f'Year_ROA_{i}']  # Extract the year
        roa_score_column = EU_data.columns[i + 25]  # ROA score column (offset by 25)
        
        if pd.notna(year_roa):  # If the year is valid
            roa_scores_per_year.at[index, f"ROA_score_{year_roa}"] = row[roa_score_column]

# Sort columns from most recent year to oldest
roa_scores_per_year = roa_scores_per_year[sorted(roa_scores_per_year.columns, key=lambda x: int(x.split('_')[-1]), reverse=True)]

# Concatenate company info with sorted ROA scores
finance_performance_by_year = pd.concat([company_info, roa_scores_per_year], axis=1)

# Display the resulting DataFrame with ROA and ROE
print(finance_performance_by_year)

                 Company Name     ISIN Code Ticker Symbol Country of Exchange  \
0                      Omv AG           NaN           OMV             Austria
1                  Verbund AG           NaN           VER             Austria
2              voestalpine AG           NaN           VOE             Austria
3         Erste Group Bank AG           NaN           EBS             Austria
4                  Umicore SA           NaN           UMI             Belgium
..                        ...           ...           ...                 ...
474           Azelis Group NV  BE0974400328           AZE             Belgium
475  Daimler Truck Holding AG  DE000DTR0CK8           DTG             Germany
476            Iveco Group NV  NL0015000LU4           IVG               Italy
477                Haleon PLC  GB00BMX86B70           HLN      United Kingdom
478    Dr Ing hc F Porsche AG  DE000PAG9113          P911             Germany

                          NAICS National Industry Name ROA_score_2025  \
0                                 Petroleum Refineries           4.2%
1                          Electric Power Distribution            NaN
2                  Steel Foundries (except Investment)            NaN
3                                   Commercial Banking           0.9%
4         Other Basic Inorganic Chemical Manufacturing         -15.3%
..                                                 ...            ...
474  Other Chemical and Allied Products Merchant Wh...           3.3%
475  Automobile and Light Duty Motor Vehicle Manufa...            NaN
476                     Heavy Duty Truck Manufacturing           3.0%
477           Pharmaceutical Preparation Manufacturing           4.8%
478  Automobile and Light Duty Motor Vehicle Manufa...            NaN

    ROA_score_2024 ROA_score_2023 ROA_score_2022 ROA_score_2021  ...  \
0             4.8%           8.0%           4.1%           2.8%  ...
1            11.7%           9.5%           6.0%           5.3%  ...
2             2.4%           6.3%           8.1%           0.3%  ...
3             0.9%           0.7%           0.7%           0.3%  ...
4             4.5%           6.3%           7.7%           4.2%  ...
..             ...            ...            ...            ...  ...
474           3.4%           4.8%           2.8%            NaN  ...
475           5.6%           4.5%           4.5%            NaN  ...
476           2.0%           1.3%            NaN            NaN  ...
477           4.7%           4.9%            NaN            NaN  ...
478          15.0%          10.0%            NaN            NaN  ...

    ROA_score_2009 ROA_score_2008 ROA_score_2007 ROA_score_2006  \
0             8.2%           8.1%           8.3%           8.5%
1             8.8%           8.4%           8.4%           5.4%
2             4.2%           7.7%          11.5%           9.0%
3             0.4%           0.6%           0.6%           0.5%
4             7.1%           6.4%           6.2%           4.7%
..             ...            ...            ...            ...
474            NaN            NaN            NaN            NaN
475            NaN            NaN            NaN            NaN
476            NaN            NaN            NaN            NaN
477            NaN            NaN            NaN            NaN
478            NaN            NaN            NaN            NaN

    ROA_score_2005 ROA_score_2004 ROA_score_2003 ROA_score_2002  \
0             6.3%           5.7%           6.5%           7.7%
1             3.8%           3.1%           2.2%           3.9%
2             7.5%           2.9%           3.3%           3.3%
3             0.4%           0.3%            NaN           0.9%
4             5.5%           3.3%           2.8%           3.4%
..             ...            ...            ...            ...
474            NaN            NaN            NaN            NaN
475            NaN            NaN            NaN            NaN
476            NaN            NaN            NaN            NaN
477            NaN            NaN            NaN            NaN
478            NaN            NaN            NaN            NaN

    ROA_score_2001 ROA_score_2000
0            11.1%            NaN
1             2.7%           1.2%
2            13.2%           5.7%
3             0.3%            NaN
4            19.2%            NaN
..             ...            ...
474            NaN            NaN
475            NaN            NaN
476            NaN            NaN
477            NaN            NaN
478            NaN            NaN

[479 rows x 31 columns]

In [98]:
EU_data.iloc[:, 556] #first column of dates for the EPS value, last is at 580
EU_data.iloc[:, 581] #first column of EPS, .last is at 605

0      6.63
1      7.09
2      0.64
3      7.47
4      1.11
       ...
474    0.78
475    5.01
476    2.16
477    0.23
478    6.17
Name: Unnamed: 582, Length: 479, dtype: object

In [100]:
# Convert all EPS date columns (556 to 580) to datetime and extract years
for i in range(556, 581):  # EPS date columns (556-580)
    EU_data[f'Year_EPS_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year

# Create an empty DataFrame for EPS scores
eps_scores_per_year = pd.DataFrame(index=EU_data.index)

# Get all unique years from all EPS date columns (sorted from most recent to oldest)
all_years_eps = sorted(set(EU_data[[f'Year_EPS_{i}' for i in range(556, 581)]].stack().dropna().unique()), reverse=True)

# Loop through each row to correctly place EPS scores in the right year columns
for index, row in EU_data.iterrows():
    for i in range(556, 581):  # EPS date columns
        year_eps = row[f'Year_EPS_{i}']  # Extract the year
        eps_score_column = EU_data.columns[i + 25]  # EPS score column (offset by 25)
        
        if pd.notna(year_eps):  # If the year is valid
            eps_scores_per_year.at[index, f"EPS_score_{year_eps}"] = row[eps_score_column]

# Sort columns from most recent year to oldest
eps_scores_per_year = eps_scores_per_year[sorted(eps_scores_per_year.columns, key=lambda x: int(x.split('_')[-1]), reverse=True)]

# Concatenate company info with sorted EPS scores
finance_performance_by_year = pd.concat([company_info, eps_scores_per_year], axis=1)

# Display the resulting DataFrame with EPS, ROA, and ROE
print(finance_performance_by_year)

                 Company Name     ISIN Code Ticker Symbol Country of Exchange  \
0                      Omv AG           NaN           OMV             Austria
1                  Verbund AG           NaN           VER             Austria
2              voestalpine AG           NaN           VOE             Austria
3         Erste Group Bank AG           NaN           EBS             Austria
4                  Umicore SA           NaN           UMI             Belgium
..                        ...           ...           ...                 ...
474           Azelis Group NV  BE0974400328           AZE             Belgium
475  Daimler Truck Holding AG  DE000DTR0CK8           DTG             Germany
476            Iveco Group NV  NL0015000LU4           IVG               Italy
477                Haleon PLC  GB00BMX86B70           HLN      United Kingdom
478    Dr Ing hc F Porsche AG  DE000PAG9113          P911             Germany

                          NAICS National Industry Name EPS_score_2025  \
0                                 Petroleum Refineries           6.63
1                          Electric Power Distribution            NaN
2                  Steel Foundries (except Investment)            NaN
3                                   Commercial Banking           7.47
4         Other Basic Inorganic Chemical Manufacturing           1.11
..                                                 ...            ...
474  Other Chemical and Allied Products Merchant Wh...           0.78
475  Automobile and Light Duty Motor Vehicle Manufa...            NaN
476                     Heavy Duty Truck Manufacturing           2.16
477           Pharmaceutical Preparation Manufacturing           0.23
478  Automobile and Light Duty Motor Vehicle Manufa...            NaN

    EPS_score_2024 EPS_score_2023 EPS_score_2022 EPS_score_2021  ...  \
0             8.62          14.66          10.03           4.61  ...
1             7.09           5.24           2.78           2.18  ...
2             0.64           6.43           7.80           0.29  ...
3             7.36           5.35           4.68           1.90  ...
4             2.00           2.64           3.15           1.63  ...
..             ...            ...            ...            ...  ...
474           0.81           0.96           0.45            NaN  ...
475           5.01           3.45           3.13            NaN  ...
476           1.33           0.83           0.49            NaN  ...
477           0.22           0.22            NaN            NaN  ...
478           6.17           5.83            NaN            NaN  ...

    EPS_score_2009 EPS_score_2008 EPS_score_2007 EPS_score_2006  \
0             7.35           7.87           6.01           4.88
1             2.83           2.84           2.34           1.35
2             4.84           7.31           6.44           4.15
3             3.42           5.68           3.89           3.51
4             1.24           1.39           1.14           0.72
..             ...            ...            ...            ...
474            NaN            NaN            NaN            NaN
475            NaN            NaN            NaN            NaN
476            NaN            NaN            NaN            NaN
477            NaN            NaN            NaN            NaN
478            NaN            NaN            NaN            NaN

    EPS_score_2005 EPS_score_2004 EPS_score_2003 EPS_score_2002  \
0             3.14           1.79           1.31           1.44
1             1.00           0.81           0.54           0.36
2             2.88           1.03           0.59           0.41
3             3.01           1.96           1.24           0.96
4             0.86           0.41           0.28           0.29
..             ...            ...            ...            ...
474            NaN            NaN            NaN            NaN
475            NaN            NaN            NaN            NaN
476            NaN            NaN            NaN            NaN
477            NaN            NaN            NaN            NaN
478            NaN            NaN            NaN            NaN

    EPS_score_2001 EPS_score_2000
0             1.11            NaN
1             0.25           0.27
2             1.19           0.85
3             0.92            NaN
4             0.42            NaN
..             ...            ...
474            NaN            NaN
475            NaN            NaN
476            NaN            NaN
477            NaN            NaN
478            NaN            NaN

[479 rows x 31 columns]

In [108]:
# Define a function to process financial scores (ROE, ROA, EPS)
def process_financial_scores(EU_data, score_type, date_columns_range, score_columns_offset):
    # Convert date columns to datetime and extract years
    for i in range(date_columns_range[0], date_columns_range[1] + 1):
        EU_data[f'Year_{score_type}_{i}'] = pd.to_datetime(EU_data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year

    # Create an empty DataFrame for the scores
    scores_per_year = pd.DataFrame(index=EU_data.index)

    # Loop through each row to place scores in the corresponding year columns
    for index, row in EU_data.iterrows():
        for i in range(date_columns_range[0], date_columns_range[1] + 1):  # Date columns
            year_score = row[f'Year_{score_type}_{i}']  # Extract the year
            score_column = EU_data.columns[i + score_columns_offset]  # Score column (offset by 25)
            
            if pd.notna(year_score):  # If the year is valid
                scores_per_year.at[index, f"{score_type}_score_{year_score}"] = row[score_column]

    # Sort columns from most recent year to oldest
    scores_per_year = scores_per_year[sorted(scores_per_year.columns, key=lambda x: int(x.split('_')[-1]), reverse=True)]

    return scores_per_year

# Select company-related columns
company_info_columns = ['Company Name', 'ISIN Code', 'Ticker Symbol', 'Country of Exchange', 'NAICS National Industry Name']
company_info = EU_data[company_info_columns]

# Initialize an empty DataFrame for the final result
finance_performance_by_year = pd.DataFrame()

# Process ROE, ROA, and EPS data and get scores per year
roe_scores_per_year = process_financial_scores(EU_data, 'ROE', (456, 480), 25)
roa_scores_per_year = process_financial_scores(EU_data, 'ROA', (506, 530), 25)
eps_scores_per_year = process_financial_scores(EU_data, 'EPS', (556, 580), 25)

# Concatenate company info with the processed scores
finance_performance_by_year = pd.concat([company_info, roe_scores_per_year, roa_scores_per_year, eps_scores_per_year], axis=1)

# Display the resulting DataFrame
print(finance_performance_by_year)

                 Company Name     ISIN Code Ticker Symbol Country of Exchange  \
0                      Omv AG           NaN           OMV             Austria
1                  Verbund AG           NaN           VER             Austria
2              voestalpine AG           NaN           VOE             Austria
3         Erste Group Bank AG           NaN           EBS             Austria
4                  Umicore SA           NaN           UMI             Belgium
..                        ...           ...           ...                 ...
474           Azelis Group NV  BE0974400328           AZE             Belgium
475  Daimler Truck Holding AG  DE000DTR0CK8           DTG             Germany
476            Iveco Group NV  NL0015000LU4           IVG               Italy
477                Haleon PLC  GB00BMX86B70           HLN      United Kingdom
478    Dr Ing hc F Porsche AG  DE000PAG9113          P911             Germany

                          NAICS National Industry Name ROE_score_2025  \
0                                 Petroleum Refineries          12.3%
1                          Electric Power Distribution            NaN
2                  Steel Foundries (except Investment)            NaN
3                                   Commercial Banking            NaN
4         Other Basic Inorganic Chemical Manufacturing           8.7%
..                                                 ...            ...
474  Other Chemical and Allied Products Merchant Wh...           6.8%
475  Automobile and Light Duty Motor Vehicle Manufa...            NaN
476                     Heavy Duty Truck Manufacturing          22.5%
477           Pharmaceutical Preparation Manufacturing          10.0%
478  Automobile and Light Duty Motor Vehicle Manufa...            NaN

    ROE_score_2024 ROE_score_2023 ROE_score_2022 ROE_score_2021  ...  \
0            14.9%          29.6%          15.6%           9.4%  ...
1            26.3%          25.2%          15.0%          10.4%  ...
2             5.5%          14.5%          20.9%           0.8%  ...
3            17.2%          12.6%          12.7%           5.5%  ...
4            12.5%          17.9%          23.5%          12.5%  ...
..             ...            ...            ...            ...  ...
474           7.1%           9.2%           5.7%            NaN  ...
475          18.1%          14.8%          19.4%            NaN  ...
476          14.3%           9.2%           5.1%            NaN  ...
477           9.8%           8.0%            NaN            NaN  ...
478          26.7%          29.1%            NaN            NaN  ...

    EPS_score_2009 EPS_score_2008 EPS_score_2007 EPS_score_2006  \
0             7.35           7.87           6.01           4.88
1             2.83           2.84           2.34           1.35
2             4.84           7.31           6.44           4.15
3             3.42           5.68           3.89           3.51
4             1.24           1.39           1.14           0.72
..             ...            ...            ...            ...
474            NaN            NaN            NaN            NaN
475            NaN            NaN            NaN            NaN
476            NaN            NaN            NaN            NaN
477            NaN            NaN            NaN            NaN
478            NaN            NaN            NaN            NaN

    EPS_score_2005 EPS_score_2004 EPS_score_2003 EPS_score_2002  \
0             3.14           1.79           1.31           1.44
1             1.00           0.81           0.54           0.36
2             2.88           1.03           0.59           0.41
3             3.01           1.96           1.24           0.96
4             0.86           0.41           0.28           0.29
..             ...            ...            ...            ...
474            NaN            NaN            NaN            NaN
475            NaN            NaN            NaN            NaN
476            NaN            NaN            NaN            NaN
477            NaN            NaN            NaN            NaN
478            NaN            NaN            NaN            NaN

    EPS_score_2001 EPS_score_2000
0             1.11            NaN
1             0.25           0.27
2             1.19           0.85
3             0.92            NaN
4             0.42            NaN
..             ...            ...
474            NaN            NaN
475            NaN            NaN
476            NaN            NaN
477            NaN            NaN
478            NaN            NaN

[479 rows x 83 columns]

In [110]:
# Export to Excel
finance_performance_by_year.to_excel('EU_finance_2.xlsx', index=False, engine='openpyxl')

# Control Variables

In [10]:
data = EU_data
print(data.head())

  Identifier (RIC)         Company Name ISIN Code Ticker Symbol  \
0          OMVV.VI               Omv AG       NaN           OMV
1          VERB.VI           Verbund AG       NaN           VER
2          VOES.VI       voestalpine AG       NaN           VOE
3          ERST.VI  Erste Group Bank AG       NaN           EBS
4           UMI.BR           Umicore SA       NaN           UMI

  Country of Exchange                  NAICS National Industry Name  \
0             Austria                          Petroleum Refineries
1             Austria                   Electric Power Distribution
2             Austria           Steel Foundries (except Investment)
3             Austria                            Commercial Banking
4             Belgium  Other Basic Inorganic Chemical Manufacturing

  ESG Score\nIn the last 25 FY  Unnamed: 8  Unnamed: 9 Unnamed: 10  ...  \
0                   31/12/2023  31/12/2022  31/12/2021  31/12/2020  ...
1                   31/12/2023  31/12/2022  31/12/2021  31/12/2020  ...
2                   31/03/2024  31/03/2023  31/03/2022  31/03/2021  ...
3                   31/12/2023  31/12/2022  31/12/2021  31/12/2020  ...
4                   31/12/2023  31/12/2022  31/12/2021  31/12/2020  ...

  Unnamed: 1522 Unnamed: 1523 Unnamed: 1524 Unnamed: 1525 Unnamed: 1526  \
0          0.00          0.00          0.00          0.00          0.00
1          0.00          0.00          0.00          0.00          0.00
2          0.00          0.00          0.00          0.00          0.00
3          0.00          0.00          0.00          0.00          0.00
4    174,948.00    454,760.00    183,249.00          0.00          0.00

  Unnamed: 1527 Unnamed: 1528 Unnamed: 1529 Unnamed: 1530 Unnamed: 1531
0          0.00          0.00          0.00          0.00          0.00
1          0.00          0.00          0.00          0.00          0.00
2          0.00          0.00          0.00          0.00          0.00
3          0.00          0.00          0.00          0.00          0.00
4    168,859.00    397,659.00    143,190.00          0.00          0.00

[5 rows x 1531 columns]

In [28]:
data.iloc[:, 406] #first column of dates for the Market Capitalization, last is at 430
data.iloc[:, 431] #first column of Market Capitalization, .last is at 455

0      12,651,789,653.36
1      32,225,274,969.71
2       5,010,391,717.48
3      25,355,925,198.72
4       2,539,509,265.97
             ...
474     4,798,128,854.95
475    30,897,137,304.40
476     2,622,581,878.04
477    42,746,633,264.94
478    80,329,422,930.48
Name: Unnamed: 432, Length: 479, dtype: object

In [42]:
# Define a function to process market capitalization scores
def process_market_cap(data, date_columns_range, market_cap_columns_offset):
    # Convert date columns to datetime and extract years
    for i in range(date_columns_range[0], date_columns_range[1] + 1):
        data[f'Year_MarketCap_{i}'] = pd.to_datetime(data.iloc[:, i], format='%d/%m/%Y', errors='coerce').dt.year

    # Create an empty DataFrame for market capitalization values
    market_cap_per_year = pd.DataFrame(index=data.index)

    # Loop through each row to place market capitalization values in the corresponding year columns
    for index, row in data.iterrows():
        for i in range(date_columns_range[0], date_columns_range[1] + 1):  # Date columns
            year = row[f'Year_MarketCap_{i}']  # Extract the year
            market_cap_column = data.columns[i + market_cap_columns_offset]  # Market capitalization column (offset by 25)

            if pd.notna(year):  # If the year is valid
                market_cap_per_year.at[index, f"MarketCap_{int(year)}"] = row[market_cap_column]  # Ensure the year is an integer

    # Sort columns from most recent year to oldest
    market_cap_per_year = market_cap_per_year[sorted(market_cap_per_year.columns, key=lambda x: int(x.split('_')[-1]), reverse=True)]

    return market_cap_per_year

# Select company-related columns
company_info_columns = ['Company Name', 'ISIN Code', 'Ticker Symbol', 'Country of Exchange', 'NAICS National Industry Name']
company_info = data[company_info_columns]

# Initialize an empty DataFrame for the final result
EU_control_variables = pd.DataFrame()

# Process Market Capitalization data and get values per year
market_cap_per_year = process_market_cap(data, (406, 430), 25)

# Concatenate company info with the processed market capitalization data
EU_control_variables = pd.concat([company_info, market_cap_per_year], axis=1)

# Display the resulting DataFrame
print(EU_control_variables)

                 Company Name     ISIN Code Ticker Symbol Country of Exchange  \
0                      Omv AG           NaN           OMV             Austria
1                  Verbund AG           NaN           VER             Austria
2              voestalpine AG           NaN           VOE             Austria
3         Erste Group Bank AG           NaN           EBS             Austria
4                  Umicore SA           NaN           UMI             Belgium
..                        ...           ...           ...                 ...
474           Azelis Group NV  BE0974400328           AZE             Belgium
475  Daimler Truck Holding AG  DE000DTR0CK8           DTG             Germany
476            Iveco Group NV  NL0015000LU4           IVG               Italy
477                Haleon PLC  GB00BMX86B70           HLN      United Kingdom
478    Dr Ing hc F Porsche AG  DE000PAG9113          P911             Germany

                          NAICS National Industry Name MarketCap_2025  \
0                                 Petroleum Refineries            NaN
1                          Electric Power Distribution            NaN
2                  Steel Foundries (except Investment)            NaN
3                                   Commercial Banking            NaN
4         Other Basic Inorganic Chemical Manufacturing            NaN
..                                                 ...            ...
474  Other Chemical and Allied Products Merchant Wh...            NaN
475  Automobile and Light Duty Motor Vehicle Manufa...            NaN
476                     Heavy Duty Truck Manufacturing            NaN
477           Pharmaceutical Preparation Manufacturing            NaN
478  Automobile and Light Duty Motor Vehicle Manufa...            NaN

        MarketCap_2024     MarketCap_2023     MarketCap_2022  \
0    12,651,789,653.36  14,363,983,482.27  16,846,980,060.68
1                  NaN  32,225,274,969.71  29,242,555,333.80
2     5,010,391,717.48   6,053,629,259.63   5,338,200,148.56
3    25,355,925,198.72  17,421,952,699.94  13,753,232,020.55
4     2,539,509,265.97   6,770,948,980.83   9,050,136,986.30
..                 ...                ...                ...
474   4,798,128,854.95   5,970,648,502.33   6,636,986,277.35
475                NaN  30,897,137,304.40  25,492,660,771.07
476   2,622,581,878.04   3,104,987,921.88   2,054,704,126.44
477  42,746,633,264.94  37,808,845,008.86  36,568,532,554.02
478                NaN  80,329,422,930.48  92,377,193,921.23

        MarketCap_2021  ...     MarketCap_2008     MarketCap_2007  \
0    18,583,626,302.95  ...   7,850,043,936.94  24,255,598,394.91
1    19,139,339,682.83  ...  14,026,910,442.96  21,528,362,389.67
2     7,398,191,458.25  ...  11,411,632,654.61  11,486,845,268.30
3    20,203,521,815.25  ...   6,993,343,680.51  21,802,088,549.97
4    10,013,868,994.84  ...   2,360,045,288.72   4,821,026,014.39
..                 ...  ...                ...                ...
474   6,705,737,682.09  ...                NaN                NaN
475  30,208,394,458.97  ...                NaN                NaN
476                NaN  ...                NaN                NaN
477                NaN  ...                NaN                NaN
478                NaN  ...                NaN                NaN

        MarketCap_2006     MarketCap_2005     MarketCap_2004  \
0    17,018,777,813.45  17,582,495,627.81   8,115,338,211.14
1    16,438,743,220.60  10,994,761,955.51   6,830,450,557.78
2     5,540,132,559.46   3,056,932,149.57   1,804,100,227.79
3    23,549,551,636.94  13,197,634,540.42  12,446,342,714.19
4     4,427,618,037.50   2,969,397,362.98   2,000,546,543.54
..                 ...                ...                ...
474                NaN                NaN                NaN
475                NaN                NaN                NaN
476                NaN                NaN                NaN
477                NaN                NaN                NaN
478                NaN                NaN                NaN

       MarketCap_2003    MarketCap_2002    MarketCap_2001    MarketCap_2000  \
0    4,012,636,511.95  2,651,993,147.97  2,262,721,715.21  2,098,742,296.58
1    3,585,266,691.00  1,286,143,178.62  1,129,518,738.48  1,536,716,822.91
2                 NaN               NaN               NaN               NaN
3    7,186,450,968.03  3,303,555,475.29  2,607,957,542.19  1,957,265,909.35
4    1,491,596,418.01    753,852,963.61    748,162,623.12               NaN
..                ...               ...               ...               ...
474               NaN               NaN               NaN               NaN
475               NaN               NaN               NaN               NaN
476               NaN               NaN               NaN               NaN
477               NaN               NaN               NaN               NaN
478               NaN               NaN               NaN               NaN

       MarketCap_1999
0                 NaN
1    2,121,445,143.75
2                 NaN
3                 NaN
4                 NaN
..                ...
474               NaN
475               NaN
476               NaN
477               NaN
478               NaN

[479 rows x 32 columns]

In [44]:
# Export to Excel
EU_control_variables.to_excel('EU_control_variables.xlsx', index=False, engine='openpyxl')